@charset "utf-8";
* { margin:0; padding:0; text-decoration:none; font-size:15px; font-family: 'Open Sans', sans-serif; list-style:none; color:#333; box-sizing:border-box; }
html, body { width:100%; height:100%; position:relative; }
#wrap { width:100%; min-width:1200px; height:100%; position:relative; overflow:auto;  background-color:#f7f8fb}
#wrap>* { height:100%; padding-top:60px; background-color:#fff; float:left; }

/* 레이어팝업 */
.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {display:block;}

.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 410px; height:auto;  background-color:#fff; border: 5px solid #3571B5; z-index: 10;}	
.pop-layer .pop-container {padding: 20px 25px;}
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;}

a.cbtn {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:13px; color:#fff; line-height:25px;}	
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}
/* 20170412 추가(레이어팝업) */

/* login */
#wrap.login { min-width:600px; position:relative; background-image:linear-gradient(145deg, #002451, #09aa8f); }
#wrap.login>div { width:520px; height:370px; margin:auto; padding:0; position:absolute; top:0; bottom:60px; left:0; right:0; background-color:#fff; border-radius:10px; overflow:hidden; }
#wrap.login>div>* { padding:0 20px; }
.h1_join {font-size: 21px; font-weight: bold; margin-left: -20px;}
#wrap.login .logo { width:100%; height:60px; margin:0 auto 20px; padding:0; background-color:#fff; position:relative; }
#wrap.login .logo>a { display:inline-block; width:200px; height:60px; /*position:absolute; top:0; left:0;*/ line-height:60px; font-size:22px; font-weight:700; text-align:center; color:#656565; }
#wrap.login .logo>a>span { display:inline-block; font-size:22px; font-weight:700; color:#a0cfef; }
#wrap.login .find_info {text-align: center; margin-top:15px}
#wrap.login .find_info>span {margin:0px 5px; padding:0px 5px;}
#wrap.login .find_info>span,
#wrap.login .find_info>a {font-size:12px;}
#wrap.login .find_info>a {cursor: pointer;}
#wrap.login .find_info>a:hover {text-decoration: underline;}
#wrap.login>div>div.input { margin:20px auto 0; }
.tf_key {width:80% !important; margin-right:2%;}
.key_btn {cursor:pointer; line-height:42px; vertical-align: top; width:18%; height:42px; text-align:center; display: inline-block;border: none; background-color: #666; border-radius: 4px; color: #fff;}
.cu_ok {font-size: 12px; padding: 5px 0px 0px 40px !important; display: block; color:#333333;}
.cu_no {font-size: 12px; padding: 5px 0px 0px 40px !important; display: block; color:#ff0000;}
#wrap.login>div>div>input { width:100%; padding:10px; background-color:#fff; border:1px solid #ddd; color:#000; border-radius:4px; }
#wrap.login>div>div>.PolicyContent { width:100%; height:72px; padding:5px; background-color:#fff; border:1px solid #ddd; color:#000; border-radius:4px; font-size:12px; overflow-y:scroll;}
#wrap.login>div>div.remember { width:200px; float:right; height:40px; margin:10px 0 2px; }
#wrap.login>div>div.remember>div { height:20px; margin:10px; float:left; line-height:20px; }
#wrap.login>div>div.remember>div:last-child { margin-right:0; }
#wrap.login>div>div.remember>div>label { color:#333; }
	#wrap.login>div>div.remember input[type="checkbox"] { display:none; }
	#wrap.login>div>div.remember input[type="checkbox"] + label { display:inline-block; width:18px; height:18px; border:1px solid #ccc; border-radius:4px; cursor:pointer; }
	#wrap.login>div>div.remember input[type="checkbox"] + label:hover { background:0px 0px url('../images/icon_checkH.png'); }
	#wrap.login>div>div.remember input[type="checkbox"]:checked + label { background:0px 0px url('../images/icon_check.png'); }
#wrap.login>div>.remember>div:first-child { margin-right:0; }
#wrap.login>div>div.remember>div>* { cursor:pointer; }
#wrap.login>div>div.remember>div>input { width:16px; height:16px; margin-top:2px; }
#wrap.login>div>div>input::-webkit-input-placeholder { color: #eee; }
#wrap.login>div>button { width:480px; margin:10px 20px; padding:12px; border:none; background-color:#666; border-radius:4px; color:#fff; /* font-weight:300; */ font-size:18px; cursor:pointer; }
#wrap.login>div>button:hover { background-image:linear-gradient(160deg, #09aa8f, #127d7f); color:#fff; }
#wrap.login>div>div>input::placeholder { color:#666; }
#wrap.login>div>div>input:-ms-input-placeholder { color:#666; }
#wrap.login>div>div>input::-ms-input-placeholder { color:#666; }

/* leftW */
#wrap>.leftW { width:240px; padding:0; position:absolute; left:0; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; z-index:2; overflow-y:auto; }
	.leftW>* { width:100%; }
	.leftW>.classB { border-top:1px solid #dddddd; border-bottom:1px solid #dddddd; cursor:pointer; }
	.leftW>.classB:not(:last-child) { border-bottom:none; }
	.leftW>.classB.borderB { border-bottom:1px solid #dddddd; }
	.leftW>.classB>div { /*height:50px;*/ padding:10px 20px; line-height:30px; /* font-weight:300; */ }
	.leftW>.classB>div>div { width:100%; height:100%; position:relative; font-size:18px; line-height:30px; }
	.leftW>.classB>div>.on { color:#007ccb; }
	.leftW>.classB>div>div:hover { color:#0092de; }
	.leftW>.classB>div>.on { color:#007ccb; }
	.leftW>.classB>div>div:hover { color:#0092de; }
	.leftW>.classB>div .domainBox { height:20px; margin:4px 0; float:right; }
	.leftW>.classB>div .domainBox>img { width:20px; height:20px; float:left; cursor:pointer; }
	.leftW>.classB>div .domainBox>img.setting:hover { transform:rotate(180deg); transition:all .8s; }
	.leftW>.classB>div .domainBox>img:not(:last-child) { margin-right:5px; }
	.leftW>.classB>div .domainBox>img.close { display:none; }
	.leftW>.classB>.domainBox { display:none; height:80px; padding:0; border-top:1px solid #ddd; }
	.leftW>.classB>.domainBox.on { display:block; }
	.leftW>.classB>.domainBox li { height:40px; padding:10px 50px; background:25px 10px url('../images/icon_domain.png') no-repeat; line-height:20px; /* font-weight:300; */ font-size:14px; cursor:pointer; }
	.leftW>.classB>.domainBox li.on { background-image:url('../images/icon_domainW.png'); background-color:#09aa8f; color:#fff; }
	.leftW>.classB>.domainBox li.add.on { background-image:url('../images/icon_open3W.png'); }
	.leftW>.classB>.domainBox li:not(.on):hover { background-color:#f5f5f5; }
	.leftW>.classB>.domainBox li.add { background-image:url('../images/icon_open3.png'); border-top:1px solid #ddd; border-bottom:1px solid #ddd; line-height:18px; }
	.leftW>.classB>div .users>.domainBox>img { margin-right:0; }
	
	.leftW>.gnb { padding:0 20px; }
	.leftW>.gnb>ul>li { height:50px; padding:10px 0; padding-left:42px; background:12px 15px url('../images/icon_task.png') no-repeat; line-height:30px; /* font-weight:300; */ }
	.leftW>.gnb li { cursor:pointer; }
	.leftW>.gnb>ul>li.task { position:relative; }
		.gnb .task>span { width:20px; height:20px; margin:auto; position:absolute; top:0; bottom:2px; right:0; background:0 0 url('../images/icon_open2.png') no-repeat; }
		.gnb>ul>li.task>a { display:inline-block; width:100%; height:30px; position:absolute; left:0; }
		.gnb .task>.close { background-image:url('../images/icon_close2.png'); }
		.gnb>ul>ul { display:none; }
		.gnb>ul>ul>li { margin-bottom:10px; }
		.gnb>ul>ul>li>div { margin-left:10px; padding:10px 35px 10px 15px; position:relative; background-color:#efefef; border-radius:4px; font-size:14px; word-wrap:break-word !important; /* font-weight:300; */ }
		.gnb>ul>ul>li>div.on { /*background-image:linear-gradient(145deg, #09aa8f, #127d7f);*/ background-color: #127d7f; color:#fff; }
		.gnb>ul>ul>li>div>span { width:20px; height:20px; margin:auto; position:absolute; top:0; bottom:2px; right:10px; background:0 0 url('../images/icon_open3.png') no-repeat; }
		.gnb>ul>ul>li>div>.close { background-image:url('../images/icon_close3.png'); }
		.gnb>ul>ul>li>div>.close.on { background-image:url('../images/icon_close3W.png'); }
		.gnb>ul>ul>li.on>ul.on { display:block; }
		.gnb>ul>ul>li>ul { display:none; }
		.gnb>ul>ul>li>ul>li { padding:10px 35px; background:0px center url('../images/icon_list.png') no-repeat; font-size:14px; }
		.gnb>ul>ul>li>ul>li:hover { color:#127d7f; }
		.gnb>ul>ul>li>ul>li.on { color:#09aa8f; }
	.leftW>.gnb>ul>li.entities { background-image:url('../images/icon_entities.png'); }
	.leftW>.gnb>ul>li.intents { background-image:url('../images/icon_intents.png'); }
	.leftW>.gnb>ul>li.docs { background-image:url('../images/icon_docs.png'); }
	.leftW>.gnb>ul>li.on { color:#007ccb; }
	.leftW>.gnb>ul>li:hover { color:#0092de; }
/* middleW */
#wrap>.middleW { min-width:840px; height:auto; margin:auto; padding:0 20px 20px 260px; position:absolute; left:0; right:0; background-color:#f7f8fb; z-index:1; }
	.middleW>* { float:left; }
	.middleW>div:not(.btnBox) { box-shadow: 0px 0px 10px 5px rgba(0,0,0,.01); }
	.middleW>.btnBox { float:right; }
	.middleW>.btnBox>div { height:30px; margin:20px 0; margin-right:10px; padding:0 20px; border:1px solid #ddd; border-radius:30px; background-color:#fff; line-height:28px; float:left; cursor:pointer; }
	.middleW>.btnBox>div:last-child { margin-right:0; }
	.middleW>.btnBox>div:hover { background-image:linear-gradient(145deg, #09aa8f, #127d7f); color:#fff; }

	.middleW>.btnBox2 { float:right; }
		.middleW>.btnBox2>div { height:30px; margin:20px 0; margin-right:10px; padding:0 15px; border:1px solid #ddd; border-radius:30px; background-color:#fff; line-height:28px; float:left; cursor:pointer; }
		.middleW>.btnBox2>div>* { float:left; }
		.middleW>.btnBox2>div:hover { background-image:linear-gradient(160deg, #00a8ff, #007ccb); transition:padding .5s; }
		.middleW>.btnBox2>div:hover div { display:block; color:#fff; transition:all .5s; }
	.middleW>.graph { width:100%; height:750px; border:1px solid #ddd; border-radius:10px; background-color:#fff; }
	.jtk-surface-nopan  {overflow: scroll !important; position:relative; cursor: default;height:450px; max-height: 750px; margin:25px 45px; height:500px; border:1px solid #e1e1e1; overflow:auto;} 
.graph_condition  {position:relative; cursor: default;height:100px; max-height: 210px; margin:0px 45px; height:120px; border:1px solid #e1e1e1;}
.graph_condition textarea {width: 98%; height:92%; overflow-y:auto; padding: 5px; border: none; min-height:12px;}

	.middleW.index>.liBox:first-child { border-bottom:1px solid #ddd; }
	.middleW.index>.liBox>.exBox { width:calc(100% - 50%); max-width:calc(100% - 680px); padding:20px; float:left; }
	.middleW.index>.liBox>.ex>ul { list-style-type:decimal; }
	.middleW.index>.liBox>.ex>ul>li { padding:10px 0; list-style:decimal inside; font-size:15px; }
	.middleW.index>.liBox>.movie { width:calc(50% - 40px); min-width:640px; height:400px; margin:20px; position:relative; border:1px solid #ddd; border-radius:5px; background-color:#fafafa; box-sizing:border-box; cursor:pointer; }
	.middleW.index>.liBox>.movie>.play { width:100px; height:50px; margin:auto; position:absolute; top:0; bottom:0; left:70px; right:0; border-right:50px solid none; border-left:50px solid #333; border-top: 30px solid transparent; border-bottom: 30px solid  transparent; }
	.middleW.index>.liBox>.movie:hover>.play { border-left-color:#007ccb; }

	/* crateTask */
	.createTask>div { width:100%; margin-top:20px; background-color:#fff; border:1px solid #ddd; border-radius:5px; }
	.createTask * { font-size:15px; }
	.createTask>div>div { padding:15px; position:relative; }
	.createTask>div>div.con { /* height:280px; */ }
	.createTask>div>.box { padding:0; margin:15px; }
	.middleW>div>div input { width:100%; height:28px; border:none; padding:4px 10px !important; }
	.middleW>div>div button { height:28px; padding:4px 10px; border:none; border-left:1px solid #ddd; background-color:#666; overflow:hidden; color:#fff; /* font-weight:300; */ cursor:pointer; }
	.middleW>div>div button:hover { background-image:linear-gradient(160deg, #09aa8f, #127d7f); }
	.middleW>div>.title { height:36px; padding:8px 15px; border-bottom:1px solid #ddd; /* font-weight:300; */ }	
	.middleW>div>div.box { padding:0; margin:15px; position:relative; border:1px solid #ddd; border-radius:4px; overflow:hidden; }
	.middleW>div>div.box>* { float:left; }
	.middleW>div.saveName>div>input { width:calc(100% - 180px); }
	.middleW>div.saveName>div>button { width:180px; }
	.middleW>div.searchBox>div>input { padding-right:38px; }
	.middleW>div.searchBox>div>button { width:37px; height:28px; padding:0; position:absolute; top:0; right:0;  }
	.middleW>div.conBox {}
	.inputBox>div { width:100%; height:30px; margin:10px 0; float:left; }
	.inputBox>div>* { height:100%; padding:5px; padding-left:0; float:left; }
	.inputBox>div>.title { width:150px; line-height:20px; position:absolute; left:0; font-weight:300; }
	.inputBox>table td>input { width:150px; border:1px solid #ddd; border-radius:4px; }
	.inputBox>table td>span { color: #333; font-weight: 300; font-size: 14px; }
	.inputBox>div>input { width:85%; border:1px solid #ddd; border-radius:4px 0 0 4px; }
	.inputBox>div { position:relative; }	
	.inputBox>div>.right { width:100%; position:absolute; left:0; padding:0; padding-left:150px; }
	.inputBox>div>.right>* { height:100%; float:left; }
	.inputBox>div>.right>input { width:100%; border:1px solid #ddd; border-radius:4px; }
	.inputBox>.inputBtn>.right>input { width:calc(100% - 37px); border-radius:4px 0 0 4px; }
	.inputBox>.inputBtn>.right>button { width:37px; padding:0; border:1px solid #ddd; border-left:none; border-radius:0 4px 4px 0; background:4px 0px url('../images/icon_scriptW.png') no-repeat; background-color:#666; }
	.inputBox>.inputBtn>.right>button:hover { background-color:#09aa8f; }
	.inputBox .right>select { width:100%; padding:4px 5px; cursor:pointer; border:1px solid #ddd; border-radius:4px; }
	.inputBox>.check>.right>input[type="checkbox"] { display:none; }
	.inputBox>.check>.right>input[type="checkbox"] + label { display:inline-block; width:20px; height:20px; margin-top:5px; border:1px solid #ccc; border-radius:4px; cursor:pointer; }	
	.inputBox>.check>.right>input[type="checkbox"] + label:hover { background:1px 1px url('../images/icon_checkH.png'); }
	.inputBox>.check>.right>input[type="checkbox"]:checked + label { background:1px 1px url('../images/icon_check.png'); }
	.middleW>div.liBox { width:100%; margin-top:20px; background-color:#fff; border:1px solid #ddd; /* border-bottom:none; */ border-radius:5px; overflow:hidden; }
	.middleW>div.liBox>.title { position:relative; }
	.middleW>div.liBox>.liBox1,
	.middleW>div.liBox>.liBox2 { border-bottom:1px solid #ddd; }
	.middleW>.liBox>.title>.btn { width:100px; height:36px; padding:8px 15px 8px 42px; position:absolute; top:0; right:0; background:18px 3px url('../images/icon_add.png') no-repeat; background-color:#666; border-radius:0 4px 4px 0; text-align:center; color:#fff; cursor:pointer; z-index:2; }
	.middleW>.liBox>.title>.view { background:18px 3px url('../images/icon_view.png') no-repeat; background-color:#666; }
	.middleW>.liBox>.title>.btn:hover { background-color:#09aa8f; }
	.middleW .liBox1>.box { display:none; border:none; }
	.middleW .liBox2>.box { display:none; border:none; }
	.middleW .liBox>.box>ul>li { margin-bottom:15px; }
	.middleW .liBox>.box>ul>li:last-child { margin:0; }
	.middleW .liBox>.box>ul>li>input { width:100%; height:28px; padding:5px 10px; border:1px solid #ddd; border-radius:4px; }
	.liBox1>div>.liBox>ul>div li { height:28px; position:relative; margin-top:15px; background:2px 0px url('../images/icon_ulO.png') no-repeat; }
	.liBox1>div>.liBox>ul>div li>input { width:calc(100% - 28px); float:right; border:1px solid #ddd; border-radius:4px; }
	.liBox1>div>.liBox>ul>div li>span { display:inline-block; opacity:0; width:28px; height:28px; background:0 0 url(../images/icon_remove.png) no-repeat; position:absolute; top:-1px; right:4px; cursor:pointer; }
	.liBox1>div>.liBox>ul>div li:hover>span { opacity:1; }
	.liBox1>div>.liBox>ul>div li>span:hover { background-image:url('../images/icon_removeO.png'); }

	.createTask>div>.fireBox { width:100%; padding:0 0 0; float:left; }
	.createTask>div>.fireBox:not(:first-child) { border-top:1px dashed #ccc; }
	.createTask>div>.fireBox:nth-child(2) { border:none; }
	.createTask>div>.fireBox.on { display:block; }
	.createTask>div>.fireBox>* { width:calc(100% - 50px); margin:0 25px; float:left; }
	.createTask>div>.fireBox>.fireMenu { /* display:none; margin-bottom:20px; */ padding-top:20px; }
	.createTask>div>.fireBox>.fireMenu.on { display:block; }	
	.fireBox>.fireMenu li { padding:4px 10px; border-radius:5px; float:left; background-color:#888; color:#fff; cursor:pointer; }
	.fireBox>.fireMenu li:hover { background-color:#09aa8f; }
	.fireBox>.fireMenu li:not(.on):hover { background-color:#666; }
	.fireBox>.fireMenu li.on { background-color:#127d7f; }
	.fireBox>.fireMenu li:not(:last-child) { margin-right:10px; }
	.fireBox>.fireCont {  }
	.fireBox>.fireCont>.fire { display:none; }
	.fireBox>.fireCont>.fire.on { display:block; }
	.liBox1 .fire.systemfire { margin-bottom:0; }
	.fireBox>.fireCont>.fire>div { width: 100%; height: auto; float: left; padding-bottom:20px; padding-top:10px; border-bottom:1px dashed rgb(255, 186, 102); }
	.fireBox>.fireCont>.fire>div:not(:first-child) { padding-top:0; }
	.fireBox>.fireCont>.fire>div:last-child { padding-bottom:0px; border-bottom:0; }
	.fireBox>.fireCont>.fire>div>.input { display:none; height:28px; margin-top:10px;}
	.liBox .fire.systemfire>div>div { width:100%; height:100%; padding:0; float:left; }
	.liBox .fire.systemfire>div>.liBox { padding-bottom:20px; border-bottom:1px dotted #007ccb; }
	.liBox .fire.systemfire>div>.liBox:last-child { padding-bottom:0; border:none; }
	.liBox .fire.systemfire>div>div>* { float:left; }
	.liBox .fire.systemfire>div>div>.title { width:150px; height:28px; padding:6px; line-height:16px; }
	.liBox .fire.systemfire>div>div>input { width:calc(100% - 150px); height:28px; border:1px solid #ddd; border-radius:4px; }
	.liBox .fire.systemfire>div>.title { width:150px; height:28px; padding:6px; line-height:16px; }
	.liBox .fire.systemfire>div>input { width:calc(100% - 150px); height:28px; border:1px solid #ddd; border-radius:4px; }
	
	.liBox .fire.systemfire .inputBtn>input { width:calc(100% - 187px); border-radius:4px 0 0 4px; }
	.liBox .fire.systemfire .inputBtn>button { width:37px; padding:0; border:1px solid #ddd; border-left:none; border-radius:0 4px 4px 0; background:4px 0px url('../images/icon_scriptW.png') no-repeat; background-color:#666; margin-bottom:0px;}
	.liBox .fire.systemfire .inputBtn>button:hover { background-color:#09aa8f; }
	.liBox .fire.systemfire .systemfileDiv { width:calc(100% - 150px); height:28px; border:1px solid #ddd; border-radius:4px; padding:3px 10px;}
	.liBox .fireCont>span.up { /* display:none; */ width:28px; height:28px; margin:auto; position:absolute; top:-70px; bottom:0; right:-5px; background:url('../images/icon_closeG.png') no-repeat; cursor:pointer;}
	.liBox .fireCont>span.down { /* display:none; */ width:28px; height:28px; margin:auto; position:absolute; top:90px; bottom:0; right:-5px; background:url('../images/icon_openG.png') no-repeat; cursor:pointer;}	
	.liBox .fireCont>span.close { /* display:none; */ width:28px; height:28px; margin:auto; position:absolute; top:0; bottom:0; right:-5px; background:url('../images/icon_drop.png') no-repeat; cursor:pointer; opacity:0; }
	.liBox .fireCont>span.open { /* display:none; */ width:28px; height:28px; margin:auto; position:absolute; top:-13px; bottom:0; right:-5px; background:url('../images/icon_s_open.png') no-repeat; cursor:pointer; opacity:0; }
	.liBox .fireCont>span.delete { /* display:none; */ width:28px; height:60px; margin:auto; position:absolute; top:55px; bottom:0; right:-5px; background:url('../images/icon_delete.png') no-repeat; cursor:pointer; opacity:0; }
	.liBox .fireCont>span.close:hover { background-image:url('../images/icon_dropO.png'); }
	.liBox .fireCont>span.open:hover { background-image:url('../images/icon_s_openO.png'); }
	.liBox .fireCont>span.delete:hover { background-image:url('../images/icon_deleteO.png'); }
	.liBox .fireCont>span.up:hover { background-image:url('../images/icon_closeO.png'); }
	.liBox .fireCont>span.down:hover { background-image:url('../images/icon_openO.png'); }
	.fireBox:hover .fireCont>.close { opacity:1; }
	.fireBox:hover .fireCont>.open { opacity:1; }
	.fireBox:hover .fireCont>.delete { opacity:1; }
	.fireBox>.liBox { height:auto; margin:0; }

	.createTask>div>.fireBox>.fireAdd { /* display:none; */ width:100%; height:32px; margin:0; background-color:#eee; text-align:center; line-height:32px; cursor:pointer; }
	.createTask>div>.fireBox:nth-child(2) .fireAdd { /* display:none; */ }
	.createTask>div>.fireBox>.fireAdd:hover { background-color:#09aa8f; color:#fff; }
	
	.wordBr { display:inline-block; word-break: break-all; -webkit-user-modify: read-write; word-wrap: break-word; -webkit-line-break: after-white-space; width:100%;x}
		
	
	.fire>.right { width:100%; }
	.fire>.right>* { float:left; border:1px solid #ddd; }
	.fire>.right>input { width:calc(100% - 37px); padding:4px 10px; border-right:none; border-radius:4px 0 0 4px; }
	.fire>.right>button { width:37px; padding:0; border:1px solid #ddd; border-left:none; border-radius:0 4px 4px 0; background:4px -1px url('../images/icon_scriptW.png') no-repeat; background-color:#666; }
	.fire>.right>button:hover { background-image:url('../images/icon_scriptW.png'); background-color:#007ccb; }

	.systemfire .liBox { width:100%; }
	.systemfire .liBox>ul { width:100%; padding:0; float:right; }
	.systemfire .liBox>ul>li { width:100%; margin-bottom:0px; margin-top:10px; position:relative; }
	.systemfire .liBox>ul>li:not(:first-child) { margin-top:10px; }
	.systemfire .liBox>ul>li>input { width:100%; height:28px; padding:5px 10px; border:1px solid #ddd; border-radius:4px; }	
	.systemfire .liBox>ul>li>div { width:100%; height:auto; padding:0 10px; border:1px solid #ddd; border-radius:4px; }
	.systemfire .liBox>ul>li>div>div { width:calc(100% - 46px); height:auto; padding:3px; }
	.systemfire .liBox>ul>li>span.modify, .systemfire .liBox>ul>li>span.remove { margin:auto; top:0; bottom:0; }
	.systemfire .liBox>ul>li>span { display:inline-block; opacity:0; width:28px; height:28px; background:0 0 url(../images/icon_remove.png) no-repeat; position:absolute; top:-1px; right:4px; cursor:pointer; }
	.systemfire .liBox>ul>li>span.modify { right:28px; background-image:url('../images/icon_slideopen.png'); }
	.systemfire .liBox>ul>li:hover>span { opacity:1; }
	.systemfire .liBox>ul>li>span:hover { background-image:url('../images/icon_removeO.png'); }
	.systemfire .liBox>ul>li>span.modify:hover { background-image:url('../images/icon_slideopenO.png'); }*/

	.createTask .systemfire .liBox>ul { height:28px; }
	.createTask .systemfire .liBox>ul>div>ul>li { height:auto; width:100%; position:relative; margin-top:10px; background:2px 0px url('../images/icon_ulO.png') no-repeat; float:left; }
	.systemfire .liBox>ul>div>ul>li>input { width:calc(100% - 28px); float:right; border:1px solid #ddd; border-radius:4px; }
	.systemfire .liBox>ul>div>ul>li>div { width:calc(100% - 28px); height:auto; float:right; border:1px solid #ddd; border-radius:4px; padding:3px; }
	.systemfire .liBox>ul>div>ul>li>div>div { width:calc(100% - 30px); height:auto; padding-left:10px; }	
	.systemfire .liBox>ul>div>ul>li>span { display:inline-block; opacity:0; width:28px; height:28px; margin:auto; background:0 0 url('../images/icon_remove.png') no-repeat; position:absolute; top:0; bottom:0; right:4px; cursor:pointer; }
    .systemfire .liBox>ul>div>ul>li:hover>span { opacity:1; }
    .systemfire .liBox>ul>div>ul>li>span:hover { background-image:url(../images/icon_removeO.png); }

	.liBox2 .fire { width:100%; float:left;}
	.middleW>.liBox2 .box { margin-top:10px; float:left; }
	.middleW>.liBox2 .box>ul>li { margin:0; }
	.liBox2 .fireBox>.fireCont>.fire.on { margin-bottom:0; }
	.liBox2 .fireBox>.fireCont>.fire>.input.slotSearch { display:block; width:100%; float:left; }
	.liBox2 .fireBox>.fireCont>.fire>.input:not(:first-child) { width:100%; height:auto; margin-top:10px; float:left; }
	.middleW>.liBox2 .box>ul>div:not(:last-child) { margin:20px 0; padding:0px; border-bottom:1px dashed #ffb370; }
	
	.liBox2 .fire.systemfire>div>.input2>.title { width:200px !important; }
	.liBox2 .fire.systemfire>div>.input2>input { width:calc(100% - 200px); }	

	.liBox2 .box>ul>li>div.slotSearch { width:100%; margin:0 0 10px; }
	.liBox2 .box>ul>li>div:last-child { position:relative; }
	.liBox2 .box ul>li>div:last-child>span { top:0; }
	.liBox2 .slotSearch>div { width:calc(100% - 200px); float:left; position:relative; }
	.liBox2 .slotSearch>div>input { width:100%; padding:5px; border:1px solid #ddd; border-radius:4px; }
	.liBox2 .box>ul { width:100%; }
	.liBox2 .box>ul>li>div { width:calc(100% - 150px); float:left; }
	.pattern_style { width:calc(100% - 150px) !important; float:left !important; }
	.liBox2 .box>ul>li>div.slot { width:140px; margin-right:10px; position:relative; border-right:none; }
	.slot_style { width:140px !important; margin-right:10px !important;padding:0px !important; position:relative !important; border:none !important; height:auto; float:left !important;}
	.liBox2 .box>ul>li>.slot>input,
	.slot_style>input { background-color:#c5eae3; }
	.liBox2 .box>ul>li>.slot>div,
	.slot_style>div { background-color:#c5eae3; min-height:28px; height:auto; padding:3px; word-break:break-all; }
	.liBox_style {width: 100% !important; height: 100% !important; padding: 0 !important; float: left !important; border-bottom:none !important;}
	.slot_style .dp_ib {width:100% !important;}
	.input2_style .title {width: 200px !important;}
	.input2_style .input2_con_style {width: calc(100% - 200px) !important;}
	
	.liBox2 .box>ul>li>div>input { width:100%; padding:5px 10px; border:1px solid #ddd; }
	.liBox2 .box>ul>li>.pattern>div { width:100%; min-height:28px; padding:3px 10px; border:1px solid #ddd; padding:0 10px; border-radius:4px;}	
	.liBox2 .box>ul>li>.pattern>div>div { width:calc(100% - 46px); min-height:28px; height:auto; }


	.liBox2 .box ul>li>div>span.modify, .liBox2 .box ul>li>div>span.remove { margin:auto; top:0; bottom:0; }
	.liBox2 .box ul>li>.pattern>span,
	.pattern_style>span { display:inline-block; opacity:0; width:28px; height:28px; background:0 0 url(../images/icon_remove.png) no-repeat; position:absolute; top:-1px; right:4px; cursor:pointer; }
	.liBox2 .box ul>li>.pattern>span.modify,
	.pattern_style>span.modify { right:28px; background-image:url('../images/icon_slideopen.png'); }
	.liBox2 .box ul>li>.pattern:hover>span,
	.pattern:hover>span { opacity:1; }
	.liBox_style .delete {top:8px!important;}
	.pattern_style .box ul>li>.pattern>span:hover,
	.pattern_style>span:hover { background-image:url('../images/icon_removeO.png'); }
	.liBox2 .box ul>li>.pattern>span.modify:hover,
	.pattern_style>span.modify:hover { background-image:url('../images/icon_slideopenO.png'); }*/
	
	.liBox2 .box .slot .remove { display:inline-block; width:28px; height:28px; background:-3px 0 url('../images/icon_remove.png') no-repeat; position:absolute; top:0px; right:0px; cursor:pointer; opacity:1; }
	.liBox2 .box>ul>div { width:100%; float:left; }
	.liBox2 .box>ul>div>ul>li { width: 100%; margin-top: 10px; background: 152px 0px url(../images/icon_ulO.png) no-repeat; position: relative; }
	.liBox2 .box>ul>div>ul>li>div { width: calc(100% - 178px); height: auto; padding:2px 10px; margin-left: 178px; border: 1px solid #ddd; border-radius:4px; }
	.liBox2 .box>ul>div>ul>li>div>div { width: calc(100% - 30px); height: auto; padding: 3px; }
	.liBox2 .box>ul>div>ul>li>span { display: inline-block; opacity: 0; width: 28px; height: 28px; margin: auto; background: 0 0 url(../images/icon_remove.png) no-repeat; position: absolute; top: 0; bottom: 0; right: 4px; cursor: pointer; }
	.liBox2 .box>ul>div>ul>li>span:hover { background-image:url('../images/icon_removeO.png'); }
	.liBox2 .box>ul>div>ul>li:hover span { opacity:1; }	

	.liBox2 .box .slot:hover input { background-color:#09aa8f; color:#fff; }
	.liBox2 .box .slot:hover .remove { background-image:url('../images/icon_removeW.png'); }

	

	.liBox2 .slotSearch>.input { width:100%; }

	.createTask>.liBox2>.fireBox2 { margin:0; padding-top:0; }
	.createTask>.liBox2>.fireBox2:not(:first-child) { border:none; }

	input:-ms-input-placeholder { color: #ccc; }
	input::-webkit-input-placeholder { color: #ccc; }
	input::-moz-placeholder { color: #ccc; }


	/* entities */
	.entities * { font-size:15px; }
	.entities>.searchBox { width:100%; border-radius:5px; }
	.entities>.searchBox>.box { margin:0; }
	.entities>.searchBox>.box>* { height:34px; }
	.entities>.searchBox>.box>button { width:39px; }
	.entities>.searchBox>.box img { margin-top:3px; }
	.middleW.entities>.liBox { border-bottom:1px solid #ddd; }
	.classBox { padding:20px 15px; }
	.classBox:not(:last-child) { padding-bottom:0; }
	.classBox>.topBox { width:100%; height:40px; margin:0; background-color:#fbfbfb; border:1px solid #ddd; position:relative; }
	.classBox>.topBox>div { padding:10px; }
	.classBox>.topBox>.title { height:40px; position:relative; padding:9px 10px; padding-left:15px; float:left; font-size:18px; cursor:pointer; font-weight:300; }
	.classBox .title>* { height:20px; float:left; line-height:20px; }
	.classBox .title>.className { margin-right:10px; /* font-weight:300; */ }
	.classBox .title>.icon { display:none; width:20px; height:20px; background:0 -1px url('../images/icon_openG.png') no-repeat; }
	.classBox .title:hover>.icon { background-image:url('../images/icon_openO.png'); }
	.classBox .title>.open { display:none;  }
	.classBox .title>.close { display:block; background-image:url('../images/icon_closeG.png'); }
	.classBox .title:hover>.close { background-image:url('../images/icon_closeO.png'); }
	.classBox .title>.description { display:none; width:420px; height:30px; position:absolute; top:40px; left:25px; border-radius:5px; background-color:#555; color:#fff; padding:4px 10px; z-index:3; }
	.classBox .title>.description>.tri { width:10px; height:20px; position:absolute; top:-20px; left:10px; border-right:8px solid transparent; border-bottom:8px solid #555; border-left:8px solid transparent; }
	.classBox .title:hover .description { display:block; }
	.classBox .title:hover .className { color:#007ccb; }
	.classBox>.topBox>.decription { width:40%; height:38px; padding:10px 20px; position:absolute; right:0; text-align:right; line-height:16px; }
	.classBox>.topBox>.decription>.open { width:10px; height:100%; background-color:#09aa8f; position:absolute; top:0; right:0; cursor:pointer; }
	.classBox>.topBox:hover .open { width:350px; background-color:#fbfbfb; transition:all .5s; }
	.classBox>.topBox:hover .btnBox { display:block; }
	.classBox>.topBox>.btnBox { display:none; height:40px; padding:7px 10px; position:absolute; top:0; right:5px; z-index:2; }
	.classBox>.topBox>.btnBox.open { display:block;}
	.classBox .btnBox>div.btn { float:left; line-height:24px; }
	.classBox .btnBox>div.btn:not(:last-child) { margin-right:10px; }
	.classBox .btn { width:; height:25px; margin:auto; padding:0 9px; background-color:#888; border-radius:3px; color:#fff; text-align:right; font-size:14px; /* font-weight:300; */ line-height:26px; cursor:pointer; }
	.classBox .title>.btn:hover { background-color:#09aa8f; color:#fff; }
	.classBox .btnBox>div:hover { background-color:#09aa8f; color:#fff; }
	.classBox .slotBox { width:100%; }
	.classBox .slotBox>ul { width:100%; }
	.classBox .slotBox>ul>li { width:100%; height:40px; position: relative; padding:10px 10px; border:1px solid #ddd; cursor:pointer; margin-bottom:-1px; }
	/*.classBox .slotBox>ul>li:not(:last-child) { border-bottom:none; }*/
	.classBox .slotBox>ul>li>* { height:100%; line-height:19px; float:left; }
	.classBox .slotBox .slotName { width:45%; padding-left:35px; background:10px -1px url('../images/slot_icon.png') no-repeat; }
	.classBox .slotBox .slotType { padding-left:25px; background:0px -1px url('../images/icon_atsign.png') no-repeat; color:#bbb; }
	

	
	.classBox .slotBox .slotBtn { height:28px; margin:auto; position:absolute; top:0; bottom:0; right:5px; float:right; }
	.classBox .slotBox .slotBtn>* { float:left; }
	.classBox ul>li span { display:inline-block; width:28px; height:28px; background:0 0 url('../images/icon_remove.png') no-repeat; float:left; opacity:0; }
	.classBox ul>li:hover span { opacity:1; }
	.classBox ul>li span.modify { background-image:url('../images/icon_modify.png'); }
	.classBox ul>li span.modify:hover { background-image:url('../images/icon_modifyO.png'); }
	.classBox ul>li span.remove:hover { background-image:url('../images/icon_removeO.png'); }
	.classBox ul>li .slotBtn>.updown { width:28px; height:28px; }
	.classBox ul>li .slotBtn>.updown>* { height:50%; }
	.classBox ul>li span.up { background:center -5px url('../images/icon_closeG.png') no-repeat; }
	.classBox ul>li span.up:hover { background-image:url('../images/icon_closeO.png'); }
	.classBox ul>li span.down { background:center -2px url('../images/icon_openG.png') no-repeat; }
	.classBox ul>li span.down:hover { background-image:url('../images/icon_openO.png'); }
	.entitiesDetail .liBox3>.title { border-bottom:none; cursor:pointer; }
	.entitiesDetail .title>span { width:20px; height:20px; float:right; background:0 0 url('../images/icon_openG.png'); }
	.entitiesDetail .title:hover span { background-image:url('../images/icon_openO.png'); }
	.entitiesDetail .title>span.close { display:none; background-image:url('../images/icon_closeG.png'); }
	.entitiesDetail .title:hover .close { display:none; background-image:url('../images/icon_closeO.png'); }
.tableBox { display:none; width:100%; padding:15px; }
.tableBox>table { width:100%; border-collapse:collapse; }
.tableBox>table tbody>tr { cursor:pointer; }
.tableBox>table thead>tr>th { background-color:#999; color:#fff; }
.tableBox>table th, .conBox.tableBox>table td { position:relative; padding:8px 20px; border:1px solid #ddd; text-align:center; }
 .conBox.tableBox>table td { padding:5px 20px; }
 .conBox.tableBox>table td img { cursor:pointer; }
.tableBox .subtitle { margin:10px 0; padding:5px 30px; /* font-weight:300; */ background:0 3px url('../images/icon_deleteG.png') no-repeat; }
.tableBox .subtitle:last-child { margin-bottom:0; }

.entitiesDetail .slotBox { display:none; width:100%; }
	.entitiesDetail .slotBox>ul { width:100%; padding:15px; }
	.entitiesDetail .slotBox>ul>li { width:100%; height:34px; position: relative; padding:8px 10px; border:1px solid #ddd; cursor:pointer; }
	.entitiesDetail .slotBox>ul>li:not(:last-child) { border-bottom:none; }
	.entitiesDetail .slotBox>ul>li>* { height:100%; float:left; }
	.entitiesDetail .slotBox .slotName { width:45%; padding-left:35px; background:0px -2px url('../images/icon_squre.png') no-repeat; }
	.entitiesDetail .slotBox .slotType { color:#333; }
	.entitiesDetail .slotBox ul>li span { display:inline-block; width:28px; height:28px; background:0 0 url('../images/icon_remove.png') no-repeat; float:left; opacity:0; }
	.entitiesDetail .slotBox ul>li:hover span { opacity:1; }
	.entitiesDetail .slotBox ul>li span.modify { background-image:url('../images/icon_modify.png'); }
	.entitiesDetail .slotBox ul>li span.modify:hover { background-image:url('../images/icon_modifyO.png'); }
	.entitiesDetail .slotBox ul>li span.remove:hover { background-image:url('../images/icon_removeO.png'); }	
	.entitiesDetail .slotBox ul>li .slotBtn>.updown { width:28px; height:28px; }
	.entitiesDetail .slotBox ul>li .slotBtn>.updown>* { height:50%; }
	.entitiesDetail .slotBox ul>li span.up { background:center -5px url('../images/icon_closeG.png') no-repeat; }
	.entitiesDetail .slotBox ul>li span.up:hover { background-image:url('../images/icon_closeO.png'); }
	.entitiesDetail .slotBox ul>li span.down { background:center -2px url('../images/icon_openG.png') no-repeat; }
	.entitiesDetail .slotBox ul>li span.down:hover { background-image:url('../images/icon_openO.png'); }
.liBox4>.ulBox { padding:20px 15px; }
	.liBox4>div>ul { width:100%; }
	.liBox4>div>ul>li {display: inline-block; width:100%; /*height:40px;*/ padding:10px; position:relative; border:1px solid #ddd; cursor:pointer;}
	.liBox4>div>ul>li:hover { background-color:#c5eae3; }
	.liBox4>div>ul>li:not(:last-child) { border-bottom:none; position:relative;}
	.liBox4>div>ul>li>div.user_says_add_con_inp,
	#divUserSays div.USER_SAYS { width:85%; float: left; display: inline-block; height:none !important;}
	/*#divUserSays>li {cursor:default !important;}*/
	#divUserSays div.USER_SAYS {cursor:text !important;}
	.liBox4>div>ul>li>span { display:inline-block; width:28px; height:20px; margin:auto; opacity:0; float:right;}
	#divSlotLayer .divSlotLayer_c {display: block; width: 17px !important; height: 17px !important; background: url(../images/layer_cl.png) no-repeat; position: absolute; right: -18px; top: -16px; text-indent: -999999px;}
	.po_a_rt {position: absolute;top: 6px;right: 0px;background-position: center;}
	.po_a_mt {position: absolute;top: 6px;right: 30px;background-position: center;}
	.po_a_ut {position: absolute;top: 6px;right: 60px;background-position: center;}
	.liBox4>div>ul>li:hover .po_a_rt {background:center center url('../images/icon_remove.png') no-repeat;}
	.liBox4>div>ul>li:hover .po_a_mt {background:center center url('../images/icon_modify.png') no-repeat;}
	.liBox4>div>ul>li:hover .po_a_ut {background:center center url('../images/undo_btn.png') no-repeat;}
	#divUserSays .remove { background:center center url('../images/icon_remove.png') no-repeat;}/*엑스*/
	#divUserSays .mapping_btn { background:center center url('../images/mapping_btn.png') no-repeat;}/*A*/
	#divUserSays .intention_btn { background:center center url('../images/intention_btn.png') no-repeat;}/*A*/
	#divUserSays .modify { background:center center url('../images/icon_modify.png') no-repeat;}/*수정*/
	#divUserSays .list_btn { background:center center url('../images/list_btn.png') no-repeat;}/*리스트*/
	#divUserSays .undo_btn { background:center center url('../images/undo_btn.png') no-repeat;}/*되돌리기*/
	
	#divUserSays .remove:hover { background:center center url('../images/icon_removeO.png') no-repeat;}/*엑스*/
	#divUserSays .mapping_btn:hover { background:center center url('../images/mapping_btnO.png') no-repeat;}/*A*/
	#divUserSays .intention_btn:hover { background:center center url('../images/intentoin_btnO.png') no-repeat;}/*A*/
	#divUserSays .modify:hover { background:center center url('../images/icon_modifyO.png') no-repeat;}/*수정*/
	#divUserSays .list_btn:hover { background:center center url('../images/list_btnO.png') no-repeat;}/*리스트*/
	#divUserSays .undo_btn:hover { background:center center url('../images/undo_btnO.png') no-repeat;}/*되돌리기*/
	#divUserSays .intent_title { text-align: right; font-size: 12px; color: #87A; margin-right:65px; float:right; min-width:100px;}
	
	.liBox4>div>ul>li:hover span { opacity:1; }
	.liBox4>div>ul>li>.remove:hover { background:0 0 url('../images/icon_removeO.png') no-repeat; }	
	

.middleW>.liBox5>.title { height:35px; }
.liBox5>.title>.title { width:50%; float:left; }
.liBox5>.title>.btnBox { float:right; margin-top:-3px; }
.liBox5 .btnBox>div { height:25px; margin:auto; padding:0 9px; border-radius:3px; color:#fff; font-size:14px; /* font-weight:300; */ background-color:#888; line-height:25px; float:left; cursor:pointer; }
.liBox5 .btnBox>.uploadIn { margin-left:5px; }
.liBox5 .btnBox>div:hover { background-image:linear-gradient(145deg, #09aa8f, #127d7f); }
.liBox5 .modify { background-image:url('../images/icon_modify.png'); right:28px; }
.liBox5 .modify:hover { background-image:url('../images/icon_modifyO.png'); }

.entitiesDetail table tr>td { text-align:center; }
.entitiesDetail table td>input { width:100%; height:24px; padding:5px; border:1px solid #ddd; }
.entitiesDetail .title>span.close { display:none; }
.entitiesDetail .title.slotCond>.open { display:none; }
.entitiesDetail .title.slotCond>.close { display:block; }
.entitiesDetail .exBox { display:none; }
.entitiesDetail .liBox3>.slotCond { border-bottom:1px solid #ddd; }
.entitiesDetail .exLangBox { display:none; }
.tableBox.slotCondBox { display:block; }
.tableBox.slotCondBox>textarea { width:100%; height:500px; padding:10px; border:1px solid #ddd; border-radius:5px; resize:none; }
.liBox>.box>ul>li { position:relative; }
.liBox>.box>ul>li:hover span { opacity:1; }
.liBox>.box>ul>li span { display:inline-block; width:28px; height:28px; margin:auto; position:absolute; top:0; bottom:2px; right:4px;
	background: 0 0 url(../images/icon_remove.png) no-repeat; opacity:0; cursor:pointer; }
.liBox>.box>ul>li span.modify { background-image:url(../images/icon_modify.png); right:28px; }
.liBox>.box>ul>li span:hover { background-image:url(../images/icon_removeO.png); }
.liBox>.box>ul>li span.modify:hover { background-image:url(../images/icon_modifyO.png); right:28px; }

.middleW>.liBox.table { margin:0; padding:15px; }
.liBox.table table { width:100%; border-collapse:collapse; overflow-x: auto;}
.liBox.table table tbody>tr { cursor:pointer; }
.liBox.table table thead>tr>th { background-color:#999; color:#fff; }
.liBox.table table th, .liBox.table table td { position:relative; height:34px; padding:8px 20px; border:1px solid #ddd; font-size:15px; }
 .liBox.table table tbody>tr:hover a { text-decoration:underline; }
 .liBox.table .remove { display:inline-block; opacity:0; width:28px; height:28px; background:0 -2px url('../images/icon_remove.png') no-repeat; position:absolute; top:5px; right:5px; cursor:pointer; }
 .liBox.table .remove:hover { background-image:url('../images/icon_removeO.png'); }
 .liBox.table tbody>tr:hover .remove { opacity:1; }
 .liBox.table tbody>tr:hover { background-color:#00377c;}
 .liBox.table tbody tr:hover td,
 /* .liBox.table tbody tr:hover td a {color:#FFFFFF !important;} */
 

.middleW.users>.liBox { border-bottom:1px solid #ddd; }

.middleW.logs>.liBox { border-bottom:1px solid #ddd; }
.middleW.logs .liBox4>div>ul>li:hover { background-color:inherit; }
.middleW.logs li { cursor:inherit; }

.users .liBox.table>table tbody>tr { cursor:inherit; }
.users tbody>tr>td:first-child { cursor:pointer; }
.users .liBox.table>table td { font-size:15px; padding:5px 10px; }

.usersDetail th { background-color:#999; color:#fff; text-align:left; }
.usersDetail td { background-color:none; }
.usersDetail .conBox.tableBox>table tbody>tr { cursor:inherit; }
.usersDetail select { width:100%; padding:2px; border-color:#ddd; cursor:pointer; }
.usersDetail button { border:none; background-color:#888; padding:4px 20px; color:#fff; cursor:pointer; }
.usersDetail button:hover { background-image:linear-gradient(145deg, #09aa8f, #127d7f); }
.usersDetail button:not(:last-child) { margin-right:10px; }
.usersDetail textarea { width:100%; height:200px; border-color:#ddd; padding:10px; resize:none; }
.usersDetail .liBox.table tbody>tr:hover { background-color:inherit; cursor:inherit; }
.usersDetail .liBox.table>table th { padding:5px 10px; }
.usersDetail .liBox.table>table td { padding:5px 10px; }

/* createUser */
.usersDetail .liBox.table>table td>input { width:100%; padding:4px 8px; border:1px solid #ddd; }

/* domainList */
.middleW.domain>div.liBox { margin-top:0; }
.middleW.domain>div.liBox:not(:last-child) { margin-bottom:20px; }
.leftW.domainList>.domain>div .domainBox>.open { display:block; }
.leftW.domainList>.domain>div .domainBox>.close { display:none; }

/* TASK > property */
.leftW.property>.gnb>ul>ul { display:block; }
.leftW.property>.gnb>ul>ul>ul.first { display:block; }
.leftW.property>.gnb>ul>ul:nth-child(2)>.taskBox>.open { display:none; }
.leftW.property>.gnb>ul>ul:nth-child(2)>.taskBox>.close { display:block; background-image:url('../images/icon_close3W.png'); }
.leftW.property>.gnb .task>.open { display:none; }
.leftW.property>.gnb .task>.close { display:block; }

/* create domain */
.selectBox select { width:100%; padding:4px 10px; border:none; cursor:pointer; }


/* index */
.middleW>.liBox6>.title>.btn { width:140px; padding:0; background:inherit; background-color:#666; line-height:36px; }
.middleW>.liBox6>.title>.btn:hover { background-image:linear-gradient(160deg, #09aa8f, #127d7f); }
.middleW.index>div.liBox>.title { line-height:20px; }

/* replace intetns */
.entitiesDetail.intents .liBox3>.title { cursor:default; }
.intents .tableBox>table tbody>tr { cursor:default; }

.instances>.liBox.table { padding:0; }
.instances>.liBox.table>table { padding:15px; }
.instances>.liBox.table>.tableIn { padding:15px; overflow-x: auto; }
.instances>.liBox.table>.tableIn input { width:100%; padding:4px 8px; border:1px solid #ddd; border-radius:4px; }
.instances>.liBox.table table tbody>tr { cursor:inherit; }
.instances tbody>tr>td:first-child { cursor:inherit; }
.instances>.liBox.table table tbody>tr:hover { background-color:inherit; }
.instances>.liBox.table table th, .instances>.liBox.table table td { padding:8px 5px; }
.instances>.liBox.table table th, .instances>.liBox.table table td img { cursor:pointer;}
.instances>.liBox.table table td input {border : 1px solid #ddd; border-radius:4px;} 
/* .uploadIntents3 .check { width:100%; margin-top:4px; }
.uploadIntents3 .check>* { float:left; }
.uploadIntents3 .check>.right>input[type="checkbox"] { display:none; }
.uploadIntents3 .check>.right>input[type="checkbox"] + label { display:inline-block; width:20px; height:20px; margin-right:10px; border:1px solid #ccc; border-radius:4px; cursor:pointer; }
.uploadIntents3 .check>.right>input[type="checkbox"] + label:hover { background:1px 1px url('../images/icon_checkH.png'); }
.uploadIntents3 .check>.right>input[type="checkbox"]:checked + label { background:1px 1px url('../images/icon_check.png'); }
 */
/* bg */
body>.bg { display:none; width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(0,0,0,.5); z-index:5; }
body .popup { display:inline-table; width:400px; /*height:258px;*/ margin:auto; position:absolute; top:0; bottom:0; left:0; right:0; background-color:#fff; border:1px solid rgba(0,0,0,.6); border-radius:10px; z-index:6; overflow:hidden; }
	.popup>div { width:100%; padding:10px; }
	.popup>.title { padding:10px; background-color:#444; font-size:18px; color:#fff; text-align:center; }
	.popup>.body { width:auto; /*height:auto;*/ padding:10px 20px 20px !important; /*margin-bottom:44px;*/}
	.popup .popInput { width:100%; height:40px; padding:10px 0px 0px 0px; }
	.popup .popInput>div { width:30%; height:30px; line-height:30px; float:left; }	
	.search_hide_btn_link {width:30px; height:30px; display:inline-block;background:url('../images/btn_slot_search.png') no-repeat; background-size:28px;}
	.search_hide_btn {width:30px; height:30px; display:block; text-indent:-999999px; position:absolute; top:-999999px; left:-999999px;}
	.popup .popInput>div:last-child { width:70%; }
	.popup .popInput>div>input { width:100%; padding:4px 8px; border:1px solid #ddd; border-radius:4px; }
	.popup>.btnBox { width:100%; height:44px; padding:0; /*position:absolute;*/ bottom:0; left:0; display: table; table-layout: fixed;}
	.popup>.btnBox>div { /*width:50%;*/ height:100%; background-color:#666; color:#fff; /*float:left;*/ border:none; text-align:center; line-height:44px; cursor:pointer; display:table-cell;border-left: 1px solid #eee;}
	.popup>.btnBox>div:first-child { border-left:none; }
	.popup>.btnBox>div:hover { background-color:#09aa8f; }

	/*.popup.createSlot { height:380px; }*/
	.popup.createSlot>.body>.popInput>div { width:36%; }
	.popup.createSlot>.body>.popInput>div:last-child { width:64%; }
	
	.popup.editSlot { height:280px; }

	.popup.uploadIntents {}
	.popup.uploadIntents.uploadIntents2 { height:240px; }
	.popup.uploadIntents .popFile {}
	.popup.uploadIntents .popFile ul>li { padding:4px 0; list-style:disc; list-style-position:inside; font-size:12px; }
	.popup.uploadIntents .popFile input { width:100%; margin:10px 0; }

	.popup.setEncoding { width:350px; }
	.popup.setEncoding .body>.title { width:100%; height:20px; margin:10px 0; padding-left:18px; position:relative; }
	.popup.setEncoding .body>.title>.squre { width:8px; height:100%; position:absolute; top:0; left:0; background-color:#127d7f; }
	.popup.setEncoding .popRadio {}
	.popup.setEncoding .popRadio>div { width:100%; height:30px; padding:5px 0; padding-left:20px; }
	.popup.setEncoding .popRadio>div>* { line-height:20px; float:left; cursor:pointer; }
	.popup.setEncoding .popRadio>div>input { margin-top:4px; margin-right:10px; }

	.popup.createLua { height:280px; }

	.popup.view { width:800px; height:500px; }
	.popup.view>.body { height:412px; overflow-y:scroll; }
	.popup.view>.body>* { margin:10px 0; padding:0 20px; float:left; }
	.popup.view>.body>.title { width:100%; height:20px; padding-left:18px; position:relative; }
	.popup.view>.body>.title>.squre { width:8px; height:100%; position:absolute; top:0; left:0; background-color:#127d7f; }
	.popup.view .liBox.table>table td>input { width:100%; padding:2px 8px; border:1px solid #ddd; }
	.popup.view .liBox.table>table tbody>tr:hover { background:none; cursor:inherit; }
	.popup.view .title.ta { margin-top:20px; }
	.popup.view .title>.btn { height:25px; margin:auto; padding: 0 15px; position:absolute; top:0; bottom:0; right:0; background-color: #888; border-radius:3px; color: #fff; font-size: 14px; line-height: 26px; cursor: pointer; }
	.popup.view .title>.btn:hover { background-color:#09aa8f; }
	.popup.view .body.taskAction { width:100%; margin-top:0; padding-bottom:10px; border-bottom:1px dashed #ffb370; }	
	.popup.view .body.taskAction:last-child { margin-bottom:0; border-bottom:none; }
	.popup.view .popInput { height:30px; margin:10px 0; padding:0; }
	.popup.view .popInput>div { width:20%; }
	.popup.view .popInput>div:last-child { width:80%; }
	.popup.view .popInput>div>select { width: 100%; padding: 4px 8px; border: 1px solid #ddd; border-radius: 4px; cursor:pointer; }

	/* .popup.newSave { height:170px; } */
	#divCreatSlot .body {max-height:400px; overflow:auto;}
	.divCreatSlot_group {padding-bottom:10px;}
	.divCreatSlot_group .title {font-size:14px!important;}
	.divCreatSlot_group>span {font-weight:bold !important; font-size:16px; display:block;}
	.divCreatSlot_del>span {font-weight:bold !important; font-size:16px; display:block; position: relative; margin-top:15px;}
	.divCreatSlot_group>span a {color:#ff0000;}
	.divCreatSlot_del>span a {display:inline-block; right:0px; position:absolute; padding: 2px 5px; margin: 0px 8px 5px 0px; border-radius: 5px; background-color: #efefef; cursor: pointer;font-weight:normal !important;}



#popWrap { height:100%; min-height:400px; }
.fnSG { height:auto; padding:0 20px; position:relative; }
.fnSG>.searchBox>.box2 { width:calc(100% - 30px); border:none; border-radius:0; }
.fnSG>.searchBox>.box2>input { width:26%; margin-right:2%; border:1px solid #ddd; }
.fnSG>.searchBox>.box2>button { width:16%; border-radius:4px; position:inherit; }
.fnSG>.searchBox>.box2 li { margin-right:6.7px; padding:4px 8px; border-radius:4px; background-color:#ddd; color:#fff; float:left; cursor:pointer; }
.fnSG>.searchBox>.box2 li:hover { background-color:#555; }
.fnSG>.searchBox>.box2 li:hover div { color:#fff; }
.fnSG>.searchBox>.box2 li>div { height:100%; line-height:20px; color:#333; }
.fnSG>.searchBox>.box2 li:last-child { margin-right:0; }
.fnSG>.searchBox>.box2>textarea { width:100%; height:84px; padding:10px; border:1px solid #ddd; border-radius:4px; resize:none; }
.fnSG>.btnBox { width:220px; margin:auto; position:absolute; left:0; right:0; top:320px; border:none; float:inherit; }
.fnSG>.btnBox>div { width:100px; height:30px; margin:16px 0; margin-right:20px; padding:0 20px; border:1px solid #ddd; border-radius:0; background-color:#fff; line-height:28px; float:left; cursor:pointer; text-align:center; }

.entitiesSearch { height:auto; padding:0 20px; position:relative; }
.middleW.entitiesSearch>div>.box3 { border:none; }
.box3>.entitiesBox { margin-bottom:15px; border:1px solid #ddd; border-bottom:none; border-radius:4px; float:none !important;}
.box3>.entitiesBox>.checkbox .title {text-indent:30px !important;}
.box3>div>.title { height:40px; }
.box3>div>* { padding:10px 15px; border-bottom:1px solid #ddd; }
.box3>div>.title { position:relative; line-height:18px; cursor:pointer; }
.box3>div>.title>span { display:inline-block; width:20px; height:20px; margin-right:5px; position:absolute; top:10px; right:10px; background:0 0 url('../images/icon_openG.png') no-repeat; }
.box3>div>.title>span { display:inline-block; width:20px; height:20px; margin-right:5px; position:absolute; top:10px; right:10px; }
.box3>div>.title>span.open { background:0 0 url('../images/icon_openG.png') no-repeat; }
.box3>div>.title>span.close { background:0 0 url('../images/icon_closeG.png') no-repeat; }
.box3>div>.title:hover .open { background-image:url('../images/icon_openO.png'); }
.box3>div>.title:hover .close { background-image:url('../images/icon_closeO.png'); }
.box3>div>.title>*
.box3>div>.checkbox { padding:0; }
.box3>div>.checkbox>.check { width:100%; display: inline-block; }
.box3>div>.checkbox>.check:not(:last-child) { border-bottom:1px solid #ddd; }
.box3>div>.checkbox>.check>* { display:block; width:auto; /*height:40px;*/ float:left; }
.box3 .check>* { padding:10px; }
.box3 .check>.right { /*height:20px;*/ padding-right:0;  }
.box3 .check>.right>input[type="checkbox"] { display:none; }
.box3 .check>.right>input[type="checkbox"] + label { display:inline-block; width:20px; height:20px; border:1px solid #ccc; border-radius:4px; cursor:pointer; text-indent:26px; white-space:nowrap;}
.box3 .check>.right>input[type="checkbox"] + label:hover { background:1px 1px url('../images/icon_checkH.png'); }
.box3 .check>.right>input[type="checkbox"]:checked + label { background:1px 1px url('../images/icon_check.png'); }

.box3 .check>.right>dd>.popupck_d2>input[type="checkbox"] { display:none; }
.box3 .check>.right>dd>.popupck_d2>input[type="checkbox"] + label { display:inline-block; width:20px; height:20px; border:1px solid #ccc; border-radius:4px; cursor:pointer; }
.box3 .check>.right>dd>.popupck_d2>input[type="checkbox"] + label:hover { background:1px 1px url('../images/icon_checkH.png'); }
.box3 .check>.right>dd>.popupck_d2>input[type="checkbox"]:checked + label { background:1px 1px url('../images/icon_check.png'); }

.box3 .check>.right>dl>dt>.popupck_d1>input[type="checkbox"],
.box3 .check>.right>dl>dd>.popupck_d2>input[type="checkbox"] { display:none; }
.box3 .check>.right>dl>dt>.popupck_d1>input[type="checkbox"] + label,
.box3 .check>.right>dl>dd>.popupck_d2>input[type="checkbox"] + label { display:inline-block; width:20px; height:20px; border:1px solid #ccc; border-radius:4px; cursor:pointer; }
.box3 .check>.right>dl>dt>.popupck_d1>input[type="checkbox"] + label:hover,
.box3 .check>.right>dl>dd>.popupck_d2>input[type="checkbox"] + label:hover { background:1px 1px url('../images/icon_checkH.png'); }
.box3 .check>.right>dl>dt>.popupck_d1>input[type="checkbox"]:checked + label,
.box3 .check>.right>dl>dd>.popupck_d2>input[type="checkbox"]:checked + label { background:1px 1px url('../images/icon_check.png'); }
	
input.checkbox_st[type="checkbox"] { display:none; }
input.checkbox_st[type="checkbox"] + label { display:inline-block; width:20px; height:20px; border:1px solid #ccc; border-radius:4px; cursor:pointer; text-indent:26px; white-space:nowrap;}
input.checkbox_st[type="checkbox"] + label:hover { background:1px 1px url('../images/icon_checkH.png'); }
input.checkbox_st[type="checkbox"]:checked + label { background:1px 1px url('../images/icon_check.png'); }
	
.entitiesSearch>.btnBox { /*width:340px;*/ margin:auto; margin-top:20px; border:none; /*float:inherit;*/ text-align: center;}
.entitiesSearch>.btnBox>span {display: block;}
.entitiesSearch>.btnBox>span>div { width:100px; height:30px; margin:20px 3px; padding:0 20px; border:1px solid #ddd; border-radius:0; background-color:#fff; line-height:28px; /*float:left;*/ cursor:pointer; text-align:center;     display: inline-block;}

.btnBox_flow .btn_s {padding: 4px 10px !important; background-color: #efefef !important; margin: 15px 0px 20px 8px !important; line-height:20px !important; border-radius: 5px !important; font-size: 14px !important; float: left !important; cursor: pointer !important;}

.knowledge_th01 {background:#ffffff;}
.knowledge_th02 {background:#eefffc;}

/*board paging*/
.board_paging {height: 50px;line-height: 50px;margin: 0 auto;text-align: center; *zoom: 1; margin-bottom:30px;}
.board_paging > span { *zoom: 1; display: inline-block; height: 24px; top: 0; }
.board_paging:after { content: ''; clear: both; display: block; }
.board_paging a { display: inline-block; line-height: 24px; font-size: 15px; font-weight: normal; color: #9eb2c0; }
.board_paging a img { vertical-align: middle; }
.board_paging a.on,
.board_paging a:hover { color: #00377c;}
.board_paging .front,
.board_paging .prev,
.board_paging .next,
.board_paging .back { width: 24px; height: 24px; }

.board_paging .left a { margin-left: 5px; }
.board_paging .right a { margin-right: 5px; }
.board_paging .num_group a { margin: 0 5px; }
/*board paging end*/


.hide_style,
.hide_style * { overflow: hidden; width:0 !important; height:0 !important; margin:0 !important; padding: 0 !important; /*display:inline-block;*/ border: none; font-size:0 !important; }

.class_name_div {margin:15px;}
.class_name_div .class_name .slot_modify th {text-align:left;}
.class_name_div .class_name .slot_modify th,
.class_name_div .class_name .slot_modify td {border:none !important;cursor:pointer !important;font-weight: normal; font-size:14px;}
.class_name_div .class_name .solt_dd {border:1px solid #ddd; margin:-1px 0px 0px 0px !important;}
.class_name_div .class_name .solt_dd th {width:200px;}
.class_name_div .class_name .solt_dd td.slot_modify01 {width:calc(100% - 260px);}
.class_name_div .class_name .solt_dd td.slot_modify02 {width:60px;}
.class_name dd .delete_btn {text-indent:-999999px !important; position:absolute !important; top:50% !important; right:5px !important; text-indent:-999999 !important;margin-top: -10px !important;}
.class_name dd:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center !important; width:14px !important; height:20px !important; display:block !important; padding:10px !important; position:absolute !important; top:50% !important; right:5px !important; text-indent:-999999 !important;margin-top: -10px !important;}

.class_name .slot_modify tr:hover {background:#ffffff !important;}
.class_name .slot_modify tr:hover,
.class_name .slot_modify tr:hover input,
.class_name .slot_modify tr:hover div {color:#00377c;}
.slot_modify01 .slot_modify_set02 {display: inline-block !important; border: 1px solid #e1e1e1 !important; padding: 3px 5px !important; margin: 1px 2px 3px 1px !important; cursor: text !important; min-width: 60px !important; position:relative !important; padding-right: 28px !important;}
.slot_modify01 .slot_modify_set02:hover > div {background:#00377c !important; color:#ffffff !important;}
.slot_modify_set02:hover {background:#00377c;}
.slot_modify_set02 .close_btn {display: inline-block !important; width: 14px !important; height: 14px !important; background: url(../images/close_btn.png) no-repeat center center !important; margin: 3px 3px 0px 7px !important; cursor: pointer !important; position:absolute !important; top: 50% !important; margin-top: -7px !important; right: 5px !important;}
.slot_modify01 .slot_modify_set02:hover .close_btn {background: url(../images/close_btn02.png) no-repeat center center !important;}
.addrow {text-align: right; margin: 10px 0px 10px 45px;}
.addrow a {color: #0488da; font-size: 14px; font-weight: bold;}


.entities_ex_con {padding:15px;}
.contentBox h4 {padding: 0px 15px; margin-bottom: 15px; font-size: 14px; text-indent: 20px; font-weight: normal; background: url(../images/icon_squre.png) no-repeat 15px center;}
.table_h3 {font-size: 16px; font-weight: normal; line-height: 24px; line-height: 36px; text-indent: 15px; border-bottom:1px solid #ddd; cursor:pointer !important;}
.slot_instan_title th {cursor:default !important;}
.function_list { height: 332px; overflow: auto;}
.function_list dt {background-color: #00377c !important; color: #fff !important; padding:10px 0px !important; text-indent:20px;}
.function_list dd {padding:10px 0px !important;text-indent:10px;}

.class_name_dl dd { border: 1px solid #dddddd; margin-top:-1px;}
.class_name_dl dd>a {width: 100%; display: block; padding:10px; }
.class_name_dl dd ul>li { padding:10px; display:inline-block; line-height:20px;  margin-bottom:-1px; border-bottom:1px solid #dddddd; }
.class_name_dl dd>ul * { cursor:pointer; }
.class_name_dl dd>ul { overflow:hidden; border-top:1px solid #dddddd; }
.class_name_dl dd>ul>li { background:url(../images/bul.png) no-repeat 45px center !important; padding:10px 10px 10px 60px; }
.class_name_dl dd>ul>ul>li { background:url(../images/blt.png) no-repeat 75px center !important; padding:10px 10px 10px 90px;}
.class_name_dl dd>ul>ul>li>a {color: -webkit-link;}
.class_name_dl dd ul li { width:100%; cursor:pointer !important;}

.function_list_bg01 {background:#ffffff;}
.function_list_bg02 {background:#eefffc;}
.function_list dd:hover {background-color:#00377c; }
.function_list dd:hover a,
.function_list dd:hover span label {color:#FFFFFF !important;}

.middleW>div>div button.scriptGuide {width: 37px; padding: 0; border: 1px solid #ddd; border-radius: 4px; background: 4px 0px url(../images/icon_scriptW.png) no-repeat; background-color: #666; float:right; margin-bottom:10px;}

.fnSG { height:auto; padding:0 20px; position:relative; }
.fnSG>.searchBox>.box2 { width:calc(100% - 30px); border:none; border-radius:0; }
.fnSG>.searchBox>.box2>input { width:calc(33.33% - 39px); margin-right:5px; border:1px solid #ddd; }
.fnSG>.searchBox>.box2>button { width:16%; border-radius:4px; position:inherit; }
/*.middleW.fnSG>div.searchBox>div>input { padding-right:100px; }*/
.fnSG>.searchBox>.box2>select { padding: 2px 10px; cursor: pointer; border: 1px solid #ddd; width: calc(33.33% - 39px); margin-right: 5px;}
.middleW.fnSG>div.searchBox>div>button { width:100px; }
.fnSG>.searchBox>.box2 li { margin:0px 6px 3px 0px; padding:4px 8px; border-radius:4px; background-color:#ddd; color:#fff; float:left; cursor:pointer; }
.fnSG>.searchBox>.box2 li:hover { background-color:#555; }
.fnSG>.searchBox>.box2 li:hover div { color:#fff; }
.fnSG>.searchBox>.box2 li>div { height:100%; line-height:20px; color:#333; }
.fnSG>.searchBox>.box2 li:last-child { margin-right:0; }
.fnSG>.searchBox>.box2>textarea { width:100%; height:84px; padding:10px; border:1px solid #ddd; border-radius:4px; resize:none; }
.fnSG>.searchBox>.box2 li.on { background-color:#127d7f; }
.fnSG>.searchBox>.box2 li.on>div { color:#fff; }
.fnSG>.btnBox { width:220px; margin:auto; /*position:absolute; left:0; right:0; top:555px; */border:none; float:inherit; }
.fnSG>.btnBox>div { width:100px; height:30px; margin:16px 0; margin-right:20px; padding:0 20px; border:1px solid #ddd; border-radius:0; background-color:#fff; line-height:28px; float:left; cursor:pointer; text-align:center; }
.fnSG .searchBox .title .title { width: 50%; float: left; }
.fnSG .searchBox .title .btnBox { float: right; margin-top: -3px; }
.fnSG .searchBox .title .btnBox div { height: 25px; margin: auto; padding: 0 9px; border-radius: 3px; color: #fff; font-size: 14px; background-color: #888; line-height: 25px; float: left; cursor: pointer; }
.fnSG .searchBox .title .btnBox div:last-child { margin-left:10px; }
.fnSG .searchBox .title .btnBox div:hover { background-image:linear-gradient(145deg, #09aa8f, #127d7f); }

ul.tab_st {margin:0px 20px -1px 20px;}
ul.tab_st li { width:160px; height:30px; padding:0 20px; border:1px solid #ddd; border-radius:0; background-color:#fff; line-height:28px; float:left; cursor:pointer; text-align:center; }
ul.tab_st li.on,
ul.tab_st li:hover {background-image: linear-gradient(145deg, #09aa8f, #127d7f); color: #fff;}

.fnSG .box3>.title { width:100%; height:40px; padding:10px 15px; border-bottom:1px solid #ddd; position:relative; }
.fnSG .box3>.title>* { width:50%; height:auto; margin:auto; padding:0; position:absolute; left:0; right:0; border:none; text-align:center; cursor:inherit; }
.fnSG .box3>.title>.btnBox { width:100%; position:absolute; left:0; }
.fnSG .box3>.title>.btnBox>div { width:22px; height:22px; position:absolute; text-align:center; cursor:pointer; border-radius:20px; }
.fnSG .box3>.title>.btnBox>div:first-child { background:0 0 url('../images/icon_open1.png') no-repeat; transform:rotate(90deg); left:20px; }
.fnSG .box3>.title>.btnBox>div:last-child { background:0 0 url('../images/icon_close1.png') no-repeat; transform:rotate(90deg); right:20px; }
.fnSG .box3>.inputBox { width:100%; padding:8px 15px; float:left; }
.fnSG .box3>.inputBox>input { width:calc(100% - 140px); border:1px solid #ddd; border-radius:4px; }
.middleW.fnSG .box3>.inputBox button { width:60px; margin-left:4px; border-radius:4px; background-color:#ddd; color:#333; text-align:center; }
.middleW.fnSG .box3>.inputBox button.on { background-color:#555; color:#fff; }
.middleW.fnSG .box3>.inputBox button:hover { background-image:none; }
.middleW.fnSG .box3>.title2 { background:10px 10px url('../images/icon_squre.png') no-repeat; padding: 10px 0 0 30px; float:left; }
.middleW.fnSG .box3>.inputBox2 { width:100%; height:auto; float:left; }
.middleW.fnSG .box3>.inputBox2>* { float:left; }
.middleW.fnSG .box3>.inputBox2 input { width:40%; }
.middleW.fnSG .box3>.inputBox2>form { width:calc(100% - 80% - 10px); height:28px; margin:0 5px; padding:0; border:none; box-sizing:border-box; }
.middleW.fnSG .box3>.inputBox2 select { width:100%; height:100%; border:1px solid #ddd; border-radius:4px; cursor:pointer; }
.middleW.fnSG .box3 table { width:40%; height:28px; border:1px solid #ddd; border-radius:4px; padding:0; float:left; }
.middleW.fnSG .box3 table td { text-align:center; font-size:14px; }
.middleW.fnSG .box3 table td img { transform:rotate(90deg); cursor:pointer; }
.entitiesSearch { height:auto; padding:0 20px; position:relative; }
.middleW.entitiesSearch>div>.box3 { border:none; }


	
.entitiesSearch>.btnBox { width:340px; margin:auto; /*margin-top:20px;*/ border:none; float:inherit; }
.entitiesSearch>.btnBox>div { width:100px; height:30px; margin:20px 0; margin-right:20px; padding:0 20px; border:1px solid #ddd; border-radius:0; background-color:#fff; line-height:28px; float:left; cursor:pointer; text-align:center; }

div[Attributes Style] { -webkit-user-modify: read-write; word-wrap: break-word; -webkit-line-break: after-white-space;}

.box_style {padding: 0; margin: 0px; position: relative; border: 1px solid #ddd; border-radius: 4px; overflow: hidden;}

.fnSG>.searchBox .title_con {margin-bottom:0px;}
.fnSG>.searchBox .title_con .zoom_style { *zoom: 1; height:30px; margin-bottom:20px; width:100%;}
.fnSG>.searchBox .title_con .zoom_style:after { content: ''; clear: both;}
.fnSG>.searchBox .title_con .title { float: left; margin-right:20px; width:100px;background: left url(../images/icon_squre.png) no-repeat; padding-left:20px; height:30px; line-height:30px;}
.fnSG>.searchBox .title_con .btnBox>div {height: 25px; margin: 3px auto 0px; padding: 0 9px; border-radius: 3px; color: #fff; font-size: 14px; background-color: #888; line-height: 25px; float: left; cursor: pointer; }
.fnSG>.searchBox .title_con .btnBox>div:last-child { margin-left:10px; }
.fnSG>.searchBox .title_con .btnBox>div:hover { background-image:linear-gradient(145deg, #09aa8f, #127d7f); }
.fnSG>.searchBox .input_box_st {border: 1px solid #ddd; border-radius: 4px; height:30px; width:calc(100% - 120px); float:right;}
.bg_none {background:none !important;}
.fnSG .btnBox_con { border:none; text-align:center; padding-top:0px;}
.fnSG .btnBox_con div {display: inline-block; width: 72px; height: 30px; line-height: 30px; border-radius: 3px; color: #fff; font-size: 14px; margin: 0 3px; text-align: center; background:#666666; cursor:pointer;}
.btn_style_02 {top:500px !important;}

.box_textarea {height:40px;}
.box_textarea button {height:40px !important; line-height:40px;}
.box_textarea>textarea { border:none; width:calc(100% - 100px); height:38px; resize:none !important; padding:4px 10px}
.divCreatSlot_del .btnBox_con { border:none; text-align:center; padding-top:0px; margin:10px 0px 20px 0px;}
.divCreatSlot_del .btnBox_con>div {display: inline-block; width: 72px; height: 26px; line-height: 26px; border-radius: 3px; color: #fff; font-size: 12px; margin: 0 3px; text-align: center; background:#666666; cursor:pointer;}

.popup_table {width:100%;}
.popup_table td {width:50%; vertical-align:top;}
.popup_table .entitiesBox {margin-bottom:5px;}
.popup_table .searchBox>.title {height: 36px; padding: 8px 15px; border-bottom: 1px solid #ddd;}
.popup_table .searchBox {width: 100%; margin-top: 20px; background-color: #fff; border: 1px solid #ddd;  border-radius: 5px;}
.popup_table .searchBox .box { padding: 0; margin: 15px; position: relative; border-radius: 4px; overflow: hidden;}
.ml20 {margin-left:20px;width:calc(100% - 20px) !important;}
.createTask>div.btnBox {text-align: center !important;/*float: right;*/ /* width: 100%; */ margin-top: 20px; background-color: #f7f8fb !important; border: none !important; border-radius: none !important;}
.createTask>div.btnBox>div {display: inline-block !important; float: initial !important;/*float: right;*/ margin:0px !important; }
.middleW>div>div input.none_focus {padding:4px 0px !important; text-align: center !important;}

.btn_style_01 {width:220px; margin:auto; position:absolute; left:0; right:0; border:none; float:inherit;}
.btn_style_01 div {width:100px; height:30px; margin:16px 0; margin-right:20px; padding:0 20px; border:1px solid #ddd; border-radius:0; background-color:#fff; line-height:28px; float:left; cursor:pointer; text-align:center;}
.btn_style_01 div:hover { background-image:linear-gradient(145deg, #09aa8f, #127d7f); color:#fff; }

.SubSlot_dat02>li {display: table; margin-bottom:-1px; padding-left: 78px; width: 100%; height: 40px; position: relative; padding: 10px 10px; border: 1px solid #ddd; cursor: pointer; border-top:0px;}
.SubSlot_dat02>li>.slotName,
.SubSlot_dat02>li>.slotType {float: left; line-height: 19px; height: 100%;}
.SubSlot_dat02 .slotBtn .modify{display: inline-block; width: 28px; height: 28px; float: left;}
.SubSlot_dat02>li:hover>.slotBtn>span.modify { background-image:url('../images/icon_modify.png'); }
.SubSlot_dat02>li>.slotBtn>span.modify:hover { background-image:url('../images/icon_modifyO.png'); }

.SubSlot_dat02 {margin-bottom:-1px;}
.arrow_dot b {width:20px; height:20px; background-size: 15px; background: 0 -1px url(../images/icon_openSubG.png) no-repeat;display: inline-block;}
.arrow_dot p {display: inline-block; vertical-align: top;}

.btn_style_02 {text-align: center !important;}
.btn_style_02>div {display: inline-block !important; float: initial !important;}
.middleW>div>.title span {font-size:11px; padding-left:10px;}

.lnb_style {*zoom:1;}
.lnb_style:after { content: ''; clear: both;}
.lnb_style .domainBox {position: absolute; right: 0px; top: 50%; margin: -10px 0px 0px 0px !important;}
 
 #divPolicy p {margin-bottom:5px; font-size:13px; line-height:20px;}
 #divPolicy ul li {font-size:13px;  line-height:20px; }
 
 .Warning { font-size:12px; padding:5px 0px 0px 4px; color:#ff0000; }
 
 ul.dash { list-style: none; margin-left: 0; padding-left: 1em; }
 ul.dash > li:before { display: inline-block; content: "-"; width: 1em; margin-left: -1em; }
 