/*/--------------------[Font Face]--------------------/*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*/--------------------[Font Face end]--------------------/*/


/*/--------------------[Common]--------------------/*/
* { margin: 0; padding: 0; border: none; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, h7, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; display: table; }
ul, li { list-style: none; }
ul { *zoom: 1; }
	ul:after { content: ''; clear: both; display: block; }
a { text-decoration: none; display:block; }
	a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6, h7, h8, h9 { font-weight: normal; }
.f_left { float: left; }
.f_right { float: right; }

label input, label textarea, label select { border-radius: 3px; border: 1px solid #ddd; background: none; height: 40px; }
.hide { position: absolute; overflow: hidden; width: 0; height: 0; margin: 0 !important; padding: 0 !important;}
.red {color: #FF0000 !important;}
.blue {color: #0000FF !important;}
.green {color: #00d400 !important;}
.mt10 {margin-top:10px;}
/*/--------------------[Common end]--------------------/*/

/*/--------------------[LNB]--------------------/*/
#lnb div { width: 100%; border-right: 1px solid #e2e2e2; margin-bottom:30px; }
#lnb div h3 { font-size: 28px; letter-spacing: -0.03em; font-weight: bold; text-align: center; border-bottom: 2px solid #1b8ccd; margin: 25px 10px 0px; line-height: 50px; display: inline-block; color: #333333;}
	#lnb div > ul { border-top: none; padding: 0 15px; margin-left: 5px;}
#lnb div > ul > span {margin-top: 20px; margin-bottom: 5px; display: block;}
			#lnb div > ul > span > a {font-size: 18px; color: #333333; line-height: 24px; letter-spacing: -0.03em;}
			#lnb div > ul > span > a:hover, #lnb div > ul > span > a:focus, #lnb div > ul > span > a:on {color: #333333;}
		#lnb div > ul > li { margin-left: 20px; }
			#lnb div > ul > li.last { border-bottom: none; }
			#lnb div > ul > li > a { width:100%; color: #747474; font-size: 14px; font-weight: normal; height: 25px; line-height: 25px; display: inline-table; background: url(../manualfiles/icon_lnb_off.png) right center no-repeat; padding-right: 25px; }
				#lnb div > ul > li > a:hover, #lnb div > ul > li > a:focus, #lnb div > ul > li > a.on { color: #328cd9; background: url(../manualfiles/icon_lnb_on.png) right center no-repeat; }
			#lnb div > ul > li > ul.sub { border-top: 1px solid #e3e3e3; margin-bottom: 10px; }
				#lnb div > ul > li > ul.sub > li { background-color: #f3f3f3; }
                    #lnb div > ul > li > ul.sub > li > a { font-size: 12px; color: #999; height: 25px; padding: 0 15px; display: inline-block; padding: 5px 15px; }
						#lnb div > ul > li > ul.sub > li > a:hover, #lnb div > ul > li > ul.sub > li > a:focus, #lnb div > ul > li > ul.sub > li > a.on { background-color: #b5e6f7; color: #666; }
/*/--------------------[LNB end]--------------------/*/

/*/--------------------[Content]--------------------/*/
	#content_wrap {width: 100%; min-width: 800px; margin: 0 auto;}
	#content { position: relative; width: 98%; margin: 0 auto; font-family: 'Nanum Gothic',sans-serif; *zoom: 1;}
		#content .content_body {float: left; width: 95%; padding-left: 20px;}

/* 1뎁스 제 절 표시 */
#content .content_body h4 {font-size: 30px; font-weight: bold; color: #333333; background: url(../manualfiles/h4_bg.png) no-repeat left bottom; padding-bottom: 20px; margin-bottom: 50px; margin-top: 30px; letter-spacing: -0.015em;}

/* 2뎁스 제목 장 표시 */
#content .content_body h5 {font-size: 24px; font-weight: bold; color: #333333; background: url(../manualfiles/h5_bg.png) no-repeat 10px center;  margin-bottom: 35px; padding-left: 19px; letter-spacing: -0.015em;}

/* 3뎁스 제목 . 표시 */
#content .content_body h6 {font-size: 18px; font-weight: bold; color: #333333; background: url(../manualfiles/h6_bg.png) no-repeat left center; margin-bottom: 15px; padding-left: 9px; letter-spacing: -0.015em;}

/* 4뎁스 제목 . 표시 */
#content .content_body h7 {font-size: 15px; font-weight: bold; color: #333333; background: url(../manualfiles/h6_bg.png) no-repeat left center; margin-bottom: 15px; padding-left: 9px; letter-spacing: -0.015em;}

/* 3뎁스 구분 */
#content .content_body div {border-bottom: 1px dashed #cccccc; padding-bottom: 25px; margin-bottom: 25px; padding-left: 25px;}

/* 각종 내용 폰트 스타일 */
#content .content_body p,
#content .content_body a,
#content .content_body li,
#content .content_body b,
#content .content_body span,
#content .content_body a,
#content .content_body td,
#content .content_body th {font-size: 14px; font-weight: normal; font-family: 'Nanum Gothic',sans-serif; color: #555555;}
#content .content_body b {font-weight: bold; font-size: 14px; color: #1b8ccd;}

#content .content_body p {margin-bottom: 11px; line-height: 25px; padding-left: 0px;}
#content .content_body p a,
#content .content_body li a {text-decoration: underline; color: #FF00DD;}
#content .content_body .dep1 {margin-left: 25px;}
#content .content_body .dep2 {margin-left: 50px;}
#content .content_body .center {text-align: center; }
#content .content_body ol li {margin-bottom: 13px; line-height: 25px; margin-left: 26px; position: relative; list-style:disc;}
#content .content_body .decimal_ol li {list-style:decimal;}
#content .content_body .upper_ol li {list-style:upper-alpha;}
#content .content_body ol li ol {margin-top:5px;}
#content .content_body ol li ol li {margin-bottom: 13px; line-height: 25px; margin-left: 50px; position: relative; list-style:square;}
span.number_style { vertical-align: text-bottom; content: counter(step-counter); border-radius: 50%; font-size: 10px; height: 17px; width: 17px; padding: 3px; text-align: center; font-weight: 400; color: #fff !important;background: #444444; margin-right: 3px; line-height: 16px; display: inline-block; position: absolute; left: 0px; top: -3px;}
#content .content_body ol li ul {margin: 2px 0px 19px 0px;}
#content .content_body ol li ul li {margin-bottom: 1px; font-size: 12px; margin-top: 10px;}
#content .content_body ul li {margin-bottom: 13px; line-height: 18px; padding-left: 0px;}
#content .content_body a {display: inline-block;}

#content .content_body table {width: 100%; margin: 20px 0px; 20px; 0px}
#content .content_body table th,
#content .content_body table td {border: 1px solid #cccccc; padding: 10px 10px; vertical-align: middle; word-break: break-all; line-height: 25px;}
#content .content_body table th {font-weight: bold; background: #8C8C8C; color: #ffffff; text-align: center;}
#content .content_body table .subtitle th { background: #1b8ccd; }
#content .content_body table .center td { text-align: center; }
#content .content_body table .title_td { background: #8C8C8C; color: #ffffff; }
#content .content_body table .title_td2 { background: #1b8ccd; color: #ffffff; }
#content .content_body table .title_td3 { background: #F29661; color: #ffffff; }
#content .content_body table .title_td4 { background: #FFC19E; color: #ffffff; }
#content .content_body table .center_td { text-align: center; }
#content .content_body table .bold_td { font-weight: bold; }

#content .content_body img {max-width: 90%; max-height:600px;}
#content .content_body .img10 {width: 10px}
#content .content_body .img20 {width: 20px}
#content .content_body .img30 {width: 30px}
#content .content_body .img40 {width: 40px}
#content .content_body .img50 {width: 50px}
#content .content_body .img60 {width: 60px}
#content .content_body .img70 {width: 70px}
#content .content_body .img80 {width: 80px}
#content .content_body .img100 {width: 100px}
/*/--------------------[Content end]--------------------/*/

#gotop { position: absolute; left: 50%; margin-left: 482px; width: 25px; height: 50px; background: url(../manualfiles/go_top.png) no-repeat; min-width: 0px !important;}
#gotop a { display: block; width: 25px; height: 50px; text-indent: -99999px;}

