@charset "utf-8";
/* font face */
/*
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
*/
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/css?family=Lato:400,700);
@import url(//fonts.googleapis.com/css?family=Alex+Brush);
/* //font face end */
/* CSS reset */
html, body {height:100%;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; min-width:1200px; height:100%; width:100%; overflow:scroll;}
ol, ul { list-style: none; *zoom: 1; }
ol:after, ul:after { content: ''; clear: both; display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; table-layout: fixed; display: table; }
body, h1, h2, h3, h4, h5, h6, h7, input, button, table, a, p, ul, li, span, dd, dl, td, th, tr { font-family: 'Nanum Gothic', Nanum Gothic, "고딕", Gothic, "돋움", Dotum, Arial, Verdana, sans-serif; }
a { text-decoration: none; } 
ul { *zoom: 1; }
ul:after { content: ''; clear: both; dihttp://221.143.50.221:8080/EtriDialog/splay: block; }
strong, b { font-weight: bold; }
.hide,
.hide * { overflow: hidden; width:0 !important; height:0 !important; margin:0 !important; padding: 0 !important; /*display:inline-block;*/ border: none; font-size:0 !important; }

.f_left { float: left; }
.f_right { float: right; }
body > div { width: 100%; min-width: 1000px; margin: 0 auto; }
hr { border: none; border-top: 1px solid #e4e4e4; }
hr.bold { border-width: 2px; border-color: #c4c4c4; }
/* //CSS reset *//* CSS Document */

.mt0 { margin-top: 0px !important; }.mt5 { margin-top: 5px !important; }.mt10 { margin-top: 10px !important; }.mt15 { margin-top: 15px !important; }.mt20 { margin-top: 20px !important; }.mt25 { margin-top: 25px !important; }.mt30 { margin-top: 30px !important; }.mt35 { margin-top: 35px !important; }.mt40 { margin-top: 40px !important; }.mt45 { margin-top: 45px !important; }.mt50 { margin-top: 50px !important; }.mt125 { margin-top: 125px !important; }/*20161116 수정*/

.mb0 { margin-bottom: 0px !important; }.mb5 { margin-bottom: 5px !important; }.mb10 { margin-bottom: 10px !important; }.mb15 { margin-bottom: 15px !important; }.mb20 { margin-bottom: 20px !important; }.mb25 { margin-bottom: 25px !important; }.mb30 { margin-bottom: 30px !important; }.mb35 { margin-bottom: 35px !important; }.mb40 { margin-bottom: 40px !important; }.mb45 { margin-bottom: 45px !important; }.mb50 { margin-bottom: 50px !important; }

.mr0 { margin-right: 0px !important; }.mr5 { margin-right: 5px !important; }.mr10 { margin-right: 10px !important; }.mr15 { margin-right: 15px !important; }.mr20 { margin-right: 20px !important; }.mr25 { margin-right: 25px !important; }.mr30 { margin-right: 30px !important; }.mr35 { margin-right: 35px !important; }.mr40 { margin-right: 40px !important; }.mr45 { margin-right: 45px !important; }.mr50 { margin-right: 50px !important; }

.ml0 { margin-left: 0px !important; }.ml5 { margin-left: 5px !important; }.ml10 { margin-left: 10px !important; }.ml15 { margin-left: 15px !important; }.ml20 { margin-left: 20px !important; }.ml25 { margin-left: 25px !important; }.ml30 { margin-left: 30px !important; }.ml35 { margin-left: 35px !important; }.ml40 { margin-left: 40px !important; }.ml45 { margin-left: 45px !important; }.ml50 { margin-left: 50px !important; }

/*layout*/
#wrap {min-height:100%; min-width:1200px; position:relative; *zoom: 1; height:100%;}
#wrap:after { content: ''; clear: both; display: block; }
#left { width:100%; height:100%; float:left; background:#fffdfb; position:relative;}/*10161031 수정*/
#left h1 {display:block; width:250px; height:100px; margin:0 auto;};
#left .project_control {border-top:1px solid #e1e1e1;}
/* #left .project_control li {background:#2F5597}; */
#left .project_control li > a {font-size: 18px; font-weight: bold; color: #333333; display: block; word-break: break-all; background: url(../images/project_control_icon_off_01.png) no-repeat 80% center #ebebeb; padding: 15px 75px 15px 25px; position: relative;}
#left .project_control li > a:hover {background: url(../images/project_control_icon_off_01.png) no-repeat 80% center #2F5597; color:#ffffff;}
#left .project_control li > a span {width: 20px; position: absolute; right: 15px; height: 20px; top: 50%; margin-top: -10px; display: block; text-indent: -9999px; font-size: 0px; background: url(../images/project_control_icon_off_02.png) no-repeat center center;}
#left .project_control li > a span:hover {background: url(../images/project_control_icon_on_02.png) no-repeat center center;}
#left .project {position:absolute; display:block; width:100%; padding:5px 0px; border-top:1px solid #e1e1e1; background:#fff; border-bottom:1px solid #005ca2;}
#left #lnb a {font-size:14px; font-weight:bold; color:#666666; padding:0px 25px 0px 45px; display:block;background: url(../images/minus.png) no-repeat 25px center;}
#left #lnb a:hover {background: url(../images/minus_hover.png) no-repeat 25px center #005ca2; color:#ffffff;}
#left #lnb a.add_plus {background: url(../images/add_plus.png) no-repeat 25px center;}
#left #lnb a.add_plus:hover {background: url(../images/add_plus_hover.png) no-repeat 25px center #005ca2; color:#ffffff;}

/*/--------------------[LNB]--------------------/*/
#lnb > ul {border-top: none; margin-top:10px;}
#lnb > ul > li.last { border-bottom: none; }
#lnb > ul > li > a { color: #747474; font-size: 14px; font-weight: bold; height: 45px; line-height: 45px; display: block; padding: 0 15px 0% 55px; }
#lnb > ul > li > a:hover {background:#ebebeb;}
#lnb > ul > li > a:focus, #lnb > ul > li > a.on { color: #ffffff; background:#2F5597; }

#lnb > ul > li > ul.sub { border-top: 1px solid #e3e3e3; margin-bottom: 10px; }
#lnb > ul > li > ul.sub > li { background-color: #f3f3f3; }
#lnb > ul > li > ul.sub > li > a { font-size: 14px; color: #999; height: 30px; line-height: 30px; padding: 0px 15px 0px 60px; display: block; }
#lnb > ul > li > ul.sub > li > a:hover, 
#lnb > ul > li > ul.sub > li > a:focus, 
#lnb > ul > li > ul.sub > li > a.on { background-color: #2588B9; color: #ffffff; }

#lnb > ul > li > ul.sub > li > .sub02 > li > a {font-size:12px; color:#666666; padding:5px 0px 5px 75px; display:block;}
#lnb > ul > li > ul.sub > li > .sub02 > li > a:hover {background:#666666; color:#ffffff;}
/*/--------------------[LNB end]--------------------/*/


#contents {/*height:100%;*/ width:100%; float:left; background:#ffffff;}/*10161031 수정*/
#contents > div {height:100%; padding-bottom:50px;}

#right { height:100%; width:100%; float:left; background:#f7f7f7;}/*10161031 수정*/


/*search_box*/

.search_box {height:100px; width:100%; border-bottom:1px solid #e1e1e1; position:relative;}

.search_box .s_option label > div { display: block; vertical-align: middle; float: left; }
.search_box .s_word { /*position: relative;*/ height: 40px; background-color: #fff; border: 1px solid #e2e2e2; border-radius: 3px; behavior: url(../common/css/PIE.htc); margin:0px 15px 0px; top:40px;}
.search_box .s_word input {height: 40px; padding: 0 0 0 15px; color: #989fa9; float: left; font-size: 13px; font-weight: bold; border: none; width:89%;}
.search_box .s_word a { float: right; vertical-align: middle; width: 40px; height: 40px; background: url(../images/btn_search.png) no-repeat center center; }

.inner_frame {position:absolute; top:40px; right:10px; z-index:1;}
.inner_frame li {float:left; margin:0px 5px;}
.inner_frame li a {font-size:12px; padding:3px 5px; border-radius: 3px;}
.inner_frame li a.red {color:#ffffff; background:#ce1d1d;}
.inner_frame li a.blue {color:#ffffff; background:#005ca2;}
.inner_frame li a.orange {color:#ffffff; background:#2F5597;}


/*search_box end*/
#right h2 {font-size:18px; font-weight:bold; color:#2F5597; margin:15px 15px 30px 15px; padding-bottom:5px; border-bottom:1px solid #e1e1e1;}

#right dl dt {font-size:12px; color:#979797; margin:15px 15px 7px 15px; background: url(../images/blt.png) no-repeat 0px center; padding-left:10px; font-weight:bold;}
#right dl dd {font-size:16px; color:#666666; margin:0px 15px 15px 15px; padding-bottom:10px; padding-left:10px; border-bottom:1px solid #e1e1e1;}

.right_table {padding:15px;}
.right_table .information_title {margin:0 auto; width:100%;}

.right_table .information_title th {font-size:14px; color:#979797;text-align:left; padding:5px 3px; font-weight:bold;}
.right_table .information_title td {font-size:12px; color:#666666;text-align:left; padding:5px 3px;}

.xml {padding: 15px 15px 0px; margin: 15px auto 0px;}
.xml a {display:block; border:1px solid #e1e1e1; padding:10px 10px; font-size:16px; color:#2588B9;}
.xml a span {width:15px; height:15px; display:block; background: url(../images/xml_arr.png) no-repeat right center; float:right;}
.xml .sml_cont {font-size:12px; padding:10px 5px; color:#666666; line-height:16px;}

/* 프로젝트생성 */
.Agent_name_box {height:75px !important; padding-top:25px; border-bottom:1px solid #e1e1e1;}
.Agent_name_box .s_word { position: relative; height: 40px; background-color: #fff; border: 1px solid #e2e2e2; border-radius: 3px; margin:0px 45px 0px 45px;}
.Agent_name_box .s_word input {height: 40px; padding: 0 15px; color: #989fa9; float: left; font-size: 20px; font-weight: bold; border: none; width:
79%;}
.Agent_name_box .s_word a { float: right; vertical-align: middle; width: 80px; height: 40px; font-size:14px; line-height:40px; color:#ffffff; font-weight:bold; background:#2F5597; text-align:center;}
.description dl dt {font-size:16px; color:#666666; margin:15px 45px 5px 45px; background: url(../images/blt.png) no-repeat 0px center; padding-left:10px; font-weight:bold;}
.description dl dd {font-size:16px; color:#666666; margin:0px 45px 15px 45px; }
.description {margin-top:30px;}
.description_box .s_word { position: relative; height: 40px; background-color: #fff; border-bottom: 1px solid #e2e2e2; border-radius: 3px; margin:5px auto 0px;}
.description_box .s_word input {height: 40px; padding: 0px !important; color: #989fa9; float: left; font-size: 18px; border: none; width:100%; text-indent:15px;}
.chatbot_edit_btn { padding:3px 7px; color:#fff; border-radius:3px; margin-left:25px; font-size:12px; background:#2588B9;}
.chatbot_edit_btn:hover {background:#2F5597; color:#fff !important;}


/* Agent */
#contents > div > .cont_title { border-bottom:1px solid #e1e1e1; position:relative; background:#ffffff; z-index:999; width:100%}/*20161116 수정*/
#contents > div > .cont_title > a { vertical-align: middle;font-size:14px; line-height:40px; color:#ffffff; font-weight:bold; background:#2F5597; text-align:center; padding:0px 15px; border-radius: 3px; display:inline-block; float:right; margin:30px 15px 0px 0px;}
#contents > div > .cont_title > a.btn_color02 {background:#2588B9 !important;}
#contents h2 {font-size:24px; font-weight:bold;height:100px !important; line-height:100px; text-indent:65px; color:#555555; position:relative; display:inline-block;}
#contents .agent h2 {background:url(../images/agent_but.png) no-repeat 25px center !important}


#contents .agent_box {width:100%;}

.jtk-surface-nopan  {overflow: scroll !important; position:relative; cursor: default;height:450px; max-height: 750px; margin:25px 45px; height:500px; border:1px solid #e1e1e1; overflow:auto;} 
.graph_condition  {position:relative; cursor: default;height:100px; max-height: 210px; margin:0px 45px; height:120px; border:1px solid #e1e1e1;}
.graph_condition textarea {width: 98%; height:92%; overflow-y:auto; padding: 5px; border: none; min-height:12px;}
/* Agent Name & Property */
#contents .anp h2 {background:url(../images/agent_but.png) no-repeat 25px center !important}
#contents h3 {font-size:16px; color:#666666; margin:30px 45px 15px 45px; background: url(../images/blt.png) no-repeat 0px center; padding-left:10px; font-weight:bold;}
.anp_contents dl { *zoom: 1; display:block; height:29px; line-height:29px; margin:10px 45px 10px 65px;}
.anp_contents dl:after { content: ''; clear: both; display: block; }
.anp_contents dl dd {float:left; font-size:14px; font-weight:normal; color:#2F5597; display:block; height:29px; line-height:29px; padding:0 5px;}
.anp_contents dl dt {float:left; font-size:14px; font-weight:normal; color:#2F5597; display:block; height:29px; line-height:29px; width:18%;}
.anp_contents dl dd.anp_contents_dd01 {width:20%;}
.anp_contents dl dd.anp_contents_dd01 input {width:100%; text-indent:5px; padding:5px 0px;}
.anp_contents dl dd.anp_contents_dd02 {width:75%;}
.anp_contents dl dd.anp_contents_dd02 input {width:100%; text-indent:5px; padding:5px 0px;}

.anp_contents h3 a {font-size:12px; background:#2F5597; margin-left:10px; color:#ffffff; padding:2px 5px;}

.sortable {position:relative;}

#sortable li {margin:0px 45px 10px 55px; background: url(../images/anp_arr.png) no-repeat right center #ffffff; position:relative;}
#sortable li:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:30px;}
#sortable li .delete_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:0px;}
#sortable span {background:#eeeeee; font-weight:bold; width:30px; text-align:center;}
#sortable span,
#sortable a {display:inline-block; height:28px; line-height:28px; color:#666666; font-size:14px;}

.layer_box {margin:0 auto; width:300px; background:#ffffff; border:1px solid #5E5E5E; padding:20px; z-index:1;}
.layer_box table {width:100%; margin-bottom:10px;}
.layer_box th {text-align:left; font-size:14px; font-weight:bold; color:#333333; width:35%; height:33px; line-height:33px;}
.layer_box td {text-align:left; font-size:14px; color:#666666; height:30px; line-height:33px;}
.layer_box td p {padding-left:5px;}
.layer_box input {width:100%; text-indent:5px; border:1px solid #a9a9a9; padding:4px 0px; font-size:13px; color:#666666 !important;}
.layer_box select {width:100%; text-indent:5px; border:1px solid #a9a9a9; padding:3px 0px; background:#ffffff !important;}
.layer_box_btn {text-align:center;}
.layer_box_btn a {display: inline-block; width: 72px; height: 30px; line-height: 30px; border-radius: 3px; color: #fff; font-weight: bold; font-size: 14px; margin: 0 3px; text-align: center; background-color:#2588B9;}					
.layer_box_btn_right {text-align:right; margin:7px 45px 0px;}
.layer_box_btn_right a {display: inline-block; width: 72px; height: 25px; line-height: 25px; border-radius: 3px; color: #fff; font-weight: bold; font-size: 14px; margin: 0 3px; text-align: center; background-color:#2588B9;}
.layer_box .chosen-container > a b { background: url(../images/icon_select_down.png) no-repeat center center !important; }
.layer_box .chosen-container.chosen-with-drop > a b { background: url(../images/icon_select_up.png) no-repeat center center !important; }
.chosen-container.chosen-with-drop > a b { background: url(../images/icon_select_up.png) no-repeat center center !important; }


/* slot */

#contents .slot h2 {background:url(../images/slot_but.png) no-repeat 25px center !important}

.solt_contents .s_word .solt_search {background:url(../images/btn_slot_search.png) no-repeat center center;}
.solt_contents .s_word input {width:89% !important;}
.solt_contents .search_box {border:none !important;}
/* .solt_contents .class_name dt {font-size:16px; color:#666666; margin:0px 45px 15px 45px; background: url(../images/blt.png) no-repeat 0px center; padding-left:10px; font-weight:bold; height:26px; line-height:26px;} */
.solt_contents .class_name dt {font-size:16px; color:#666666; margin:0px 45px 15px 45px; background: url(../images/icon_c_img.png) no-repeat 3px; padding-left:25px; font-weight:bold; line-height:26px;}
.solt_contents .class_name dt a.slot_down {font-size:16px; color:#666666; padding-right:15px; background:url(../images/icon_select_down.png) no-repeat right center;}
.solt_contents .class_name dt a.slot_up {font-size:16px; color:#666666; padding-right:15px; background:url(../images/icon_select_up.png) no-repeat right center;}
.solt_contents .class_name dt a:hover {color:#2F5597;}
.solt_contents .class_name dd {font-size:14px; margin:-1px 45px 0px 45px; display:block; position:relative; border:1px solid #e1e1e1; padding:10px;}
.solt_contents .class_name dd a.class_name_list {padding:10px; font-size:14px; display:inline-block; color:#585858; width:80%; line-height:20px; height:21px; }
.solt_contents .class_name dd a.class_name_list .slotname {width:50%; display: inline-block; float: left; text-indent: 25px; background: url(../images/icon_s_img.png) no-repeat 0px center; }
.solt_contents .class_name dd a.class_name_list .slotproperty {width:50%; display: inline-block; text-indent: 25px; background: url(../images/user_says_bg01.png) no-repeat 0px center; }
.class_name_del { padding:0px 7px; background:#eeeeee; color:#999999; border-radius:3px; float:right; margin-left:10px; font-size:12px;}
.class_name_del:hover {background:#999999; color:#fff !important;}
.class_name_edit { padding:0px 7px; color:#fff; border-radius:3px; float:right; margin-left:10px; font-size:12px;}
.class_name_edit:hover {background:#999999; color:#fff !important;}
.class_name_instances { padding:0px 7px; color:#fff; border-radius:3px; float:right; margin-left:10px; font-size:12px; background:#2F5597;}
.class_name_instances:hover {background:#cb4700; color:#fff !important;}
.class_name_createslot { padding:0px 7px; color:#fff; border-radius:3px; float:right; margin-left:10px; font-size:12px; background:#2588B9;}
.class_name_createslot:hover {background:#2F5597; color:#fff !important;}
.create_class_box {top:30px !important; right:10px !important; left:inherit !important;}
.create_slot_box {top:30px !important; right:10px !important; left:inherit !important;}
.create_slot_box td span {font-weight: bold;}
.solt_contents .class_name dd:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:100%; display:block !important;; padding:0 10px; position:absolute; top:0px; right:22px;}
.solt_contents .class_name dd:hover .modify_btn {background: url(../images/modify_btn.png) no-repeat center center; width:14px; height:100%; display:block !important;; padding:0 10px; position:absolute; top:0px; right:44px;}
.solt_contents .class_name dd:hover .up_btn {background: url(../images/arr_u.png) no-repeat center center; width:8px; height:6px; display:block !important;; padding:0 10px; position:absolute; top:10px; right:0px;}
.solt_contents .class_name dd:hover .down_btn {background: url(../images/arr_d.png) no-repeat center center; width:8px; height:6px; display:block !important;; padding:0 10px; position:absolute; top:25px; right:0px;}
.solt_contents .class_name dd:hover a.class_name_list {color:#2F5597;}
.solt_contents .s_word {margin:25px 45px 0px !important;}
.solt_contents .addrow {text-align: right; margin: 10px 45px 10px 45px;}
.solt_contents .addrow a {color: #0488da; font-size: 14px; font-weight: bold;}
.solt_contents .addrow a:hover {text-decoration:underline;}
.class_name .slot_modify {width:100%; cursor:pointer;}
.class_name .slot_modify th {padding:10px; font-size:14px; color:#585858; width:25%; text-align:left; line-height:20px; vertical-align:middle;}
.class_name .slot_modify td.slot_modify01 {padding:10px; font-size:14px; color:#585858; width:67%; line-height:20px;}
.class_name .slot_modify.class_name .slot_modify td.slot_modify02 {padding:10px; font-size:14px; color:#585858; width:5%;}
.class_name .slot_modify input {border:none !important; font-size:14px; color:#585858; width:100%;}
.class_name .slot_modify tr:hover,
.class_name .slot_modify tr:hover input,
.class_name .slot_modify tr:hover div {color:#2F5597;}
.class_name .slot_modify .lot_modify_ck {border:1px solid #e1e1e1; display:inline-block; padding:3px 5px; margin:1px 2px 3px 1px;}
.class_name .slot_modify .lot_modify_ck a {display:inline-block; width:14px; height:14px; background: url(../images/close_btn.png) no-repeat center center; margin-left:7px; vertical-align:sub;}
.class_name .slot_modify .lot_modify_ck:hover a {background: url(../images/close_btn02.png) no-repeat center center;}
.class_name .slot_modify .lot_modify_ck:hover {background:#2F5597; color:#fff !important;}
.class_name .slot_modify .lot_modify_ck:hover span {color:#fff !important;}
.class_name .slot_modify .slot_modify_ip {display:block; padding:6px 0px; text-indent:8px; float:left;}
/* 20161110 slot 추가 */
.slot_modify01 .slot_modify_set01 {display:inline-block !important;}
.slot_modify01 .slot_modify_set01:hover {color:#2F5597;}
.slot_modify01 .slot_modify_set02 {display:inline-block !important; border:1px solid #e1e1e1; padding:3px 5px; margin:1px 2px 3px 1px; cursor: text; min-width:60px; position: relative; padding-right:28px;}
.slot_modify01 .slot_modify_set02:hover {background:#2F5597;}
.slot_modify01 .slot_modify_set02:hover > div {background:#2F5597; color:#fff !important;}
.slot_modify01 .slot_modify_set02 .close_btn {display:inline-block; width:14px; height:14px; background: url(../images/close_btn.png) no-repeat center center; margin:3px 3px 0px 7px; /*vertical-align:sub;*/ cursor:pointer; position: absolute; top: 50%; margin-top: -7px; right: 5px;}
.slot_modify01 .slot_modify_set02:hover .close_btn {background: url(../images/close_btn02.png) no-repeat center center;}
.slot_modify01 .slot_modify_set03 {display:inline-block !important;}
.slot_modify01 .slot_modify_set03:hover {color:#2F5597;}
.solt_dd {border:1px solid #e1e1e1 !important; margin-top:-1px !important;}
.dp_ib {display:inline-block;word-break:break-all; width:100%;}
/* 20161110 slot 추가 */

.slot_instan_title {text-align:center; width:100%;}
.slot_instan_title thead tr { color:#ffffff; font-weight:bold; font-size:14px; background:#2F5597;}
.slot_instan_title tr {border-bottom:1px solid #e1e1e1; font-size:12px;}
.slot_instan_title tr th,
.slot_instan_title tr td {border-right:1px solid #e1e1e1 !important; height:20px; line-height:20px; padding:10px 3px;vertical-align: middle;}
.slot_instan_title tr td input {width:80%;}
.slot_instan_title tr td img {cursor:pointer;}
.slot_instan_title tr.knowledge_th01 {background:#ffffff;}
.slot_instan_title tr.knowledge_th01 .none_focus {text-align: center; border: none;}
.slot_instan_title tr.knowledge_th02 {background:#fff8f5;}
.slot_instan_title tr.knowledge_th02 .none_focus {text-align: center; border: none; background:#fff8f5;}

.text_box .s_word { position: relative; height: 23px; background-color: #fff; border: 1px solid #a9a9a9;}
.text_box .s_word input {border:none !important; width:90%;}
.text_box .s_word .solt_search {float: right; vertical-align: middle; width:23px; height: 23px; background:url(../images/btn_slot_search.png) no-repeat center center; background-size:20px 20px;}

/* project_list, user_utterance */
#contents .user_utterance h2 {background:url(../images/map_title.png) no-repeat 42px center !important}
#contents .project_list h2 {background:url(../images/domain_but.png) no-repeat 25px center !important}
.user_utterance_contents .slot_layer {min-width:50px; min-height:50px; border:1px solid #666666; background:#ffffff !important; z-index:1; padding:7px 10px; font-size:14px; color:#666666; position:relatiive !important;}
.user_utterance_contents .search_box {border-bottom:none !important;}
.user_utterance_contents .s_word {margin:25px 45px 0px !important;}
.user_utterance_contents .class_name dt,
.user_utterance_contents .class_name dd {font-size:14px; margin:0px 45px -1px 45px; display:block; position:relative; border:1px solid #e1e1e1; }
.user_utterance_contents .class_name dt a.class_name_list {background:url(../images/bul_td.png) no-repeat 15px center !important;padding:10px 10px 10px 30px; font-size:14px; display:inline-block; color:#585858; width:70%; line-height:20px; height:21px;}
.user_utterance_contents .class_name dd a.class_name_list {background:url(../images/bul.png) no-repeat 15px center !important;padding:10px 10px 10px 30px; font-size:14px; display:inline-block; color:#585858; width:70%; line-height:20px; height:21px;}
.user_utterance_contents .class_name dd.end{ border-bottom:1px solid #e1e1e1 !important;}
.class_name dd:hover .undo_btn {background: url(../images/restore_btn.png) no-repeat center center; width:14px; height:20px; display:block; padding:10px; position:absolute; top:0px; right:0px;}
.class_name dd:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:20px; display:block; padding:10px; position:absolute; top:0px; right:25px;}
.class_name dd:hover .delete_btn2 {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:20px; display:block; padding:10px; position:absolute; top:0px; right:0px;}
.class_name dd:hover .modify_btn {background: url(../images/modify_btn.png) no-repeat center center; width:14px; height:20px; display:block; padding:10px; position:absolute; top:0px; right:50px;}
.class_name dd:hover .modify_btn2 {background: url(../images/modify_btn.png) no-repeat center center; width:14px; height:20px; display:block; padding:10px; position:absolute; top:0px; right:25px;}
.twice {font-size:12px; line-height:18px; display:block; padding:0px 35px 10px 35px; color:#747474;}

/* knowledge */
#contents .knowledge h2 {background:url(../images/knowledge_but.png) no-repeat 25px center !important}
.knowledge_contents .class_name {margin-top:25px;}
.knowledge_contents .class_name dd {font-size:14px; margin:0px 45px 0px 45px; display:block; position:relative; border-top:1px solid #e1e1e1; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1;}
.knowledge_contents .class_name dd.end{ border-bottom:1px solid #e1e1e1 !important;}
.knowledge_contents .class_name dd a.class_name_list {font-size:14px; display:inline-block; color:#585858; line-height:20px; height:21px; display:inline-block; width:100%; padding:10px 0px; text-indent:15px;}
.knowledge_contents .class_name dd:hover a.class_name_list {color:#2F5597;}
.knowledge_contents .class_name dd a.class_name_list span {float:right; padding-right:40px; background:url(../images/knowledge_arr.png) no-repeat right center;}
.knowledge_contents .class_name dd:hover a.class_name_list span {background:url(../images/knowledge_arr02.png) no-repeat right center;}

.knowledge_title {text-align:center; width:100%;}
.knowledge_title thead tr {border-top:1px solid #e1e1e1; color:#ffffff; font-weight:bold; font-size:14px; background:#2F5597;}
.knowledge_title tr {border-bottom:1px solid #e1e1e1; font-size:12px;}
.knowledge_title tr th,
.knowledge_title tr td {height:20px; line-height:20px; padding:10px 3px;}
.knowledge_title tr td input {width:80%;}
.knowledge_title tr.knowledge_th01 {cursor:pointer; background:#ffffff;}
.knowledge_title tr.knowledge_th02 {cursor:pointer; background:#ffe5d7;}
.knowledge_contents .s_word .solt_search {background:url(../images/btn_slot_search.png) no-repeat center center;}

/*board paging*/
.board_paging { height: 50px; line-height: 50px; margin: 0 auto; text-align: center; *zoom: 1; }
.board_paging > span { *zoom: 1; display: inline-block; height: 24px; top: 0; }
.board_paging:after { content: ''; clear: both; display: block; }
.board_paging a { display: inline-block; line-height: 24px; font-size: 13px; font-weight: bold; color: #9eb2c0; }
.board_paging a img { vertical-align: middle; }
.board_paging a.on,
.board_paging a:hover { color: #2F5597;}
.board_paging .front,
.board_paging .prev,
.board_paging .next,
.board_paging .back { width: 24px; height: 24px; }

.board_paging .left a { margin-left: 5px; }
.board_paging .right a { margin-right: 5px; }
.board_paging .num_group a { margin: 0 5px; }
/*board paging end*/

/* User Utterance02 */
.sortable04 {position:relative;}
#sortable04 li {margin:0px 45px 10px 55px; background: url(../images/anp_arr.png) no-repeat right center #ffffff; position:relative;}
#sortable04 li:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:30px;}
#sortable04 li .delete_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:0px;}
#sortable04 span {background:#eeeeee; font-weight:bold; width:30px; text-align:center;}
#sortable04 span,
#sortable04 a {display:inline-block; height:28px; line-height:28px; color:#666666; font-size:14px;}

.sortable03_title {margin:0px 45px -1px 55px; position:relative; background:#eeeeee;}
.sortable03_title li {border:1px solid #c5c5c5; height: 28px; line-height: 28px; color: #666666; font-size: 14px; te}
.sortable03_title li .sortable03_title_01 {width:15%;display: inline-block; text-align:center;}
.sortable03 {position:relative;}
#sortable03 li {margin:0px 45px -1px 55px; background: url(../images/anp_arr.png) no-repeat right center #ffffff; position:relative;}
#sortable03 li:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:30px;}
#sortable03 li .delete_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:0px;}
#sortable03 span {width:30px; text-align:center; display:inline-block; height:28px; line-height:28px; color:#666666; font-size:14px; width:15%;}
#sortable03 a {display:inline-block; height:28px; line-height:28px; color:#666666; font-size:14px;}

.sortable02_title {margin:0px 45px -1px 55px; position:relative; background:#eeeeee;}
.sortable02_title li {border:1px solid #c5c5c5; height: 28px; line-height: 28px; color: #666666; font-size: 14px; te}
.sortable02_title li .sortable02_title_01,
.sttable02_title_01 {width:6%;display: inline-block; text-align:center;}/* 20161109 width 수정 */
.sortable02_title li .sortable02_title_02,
.sttable02_title_02 {width:45%;display: inline-block;}/* 20161109 width 수정 */
.sortable02_title li .sortable02_title_03,
.sttable02_title_03 {width:45%;display: inline-block;}/* 20161109 width 수정 */
.sortable02_title li .sortable02_title_04,
.sttable02_title_04 {width:45%;display: inline-block;}/* 20161109 width 수정 */
.sortable02_title li .sortable02_title_05,
.sttable02_title_04 {width:45%;display: inline-block;}/* 20161109 추가 */
.sortable02 {position:relative;}
.sortable02 
#sortable02 li {margin:0px 45px -1px 55px; background: url(../images/anp_arr.png) no-repeat right center #ffffff; position:relative;}
#sortable02 li:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:30px;}
#sortable02 li .delete_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:0px;}
.sortable02 li span.sttable02_title_01,
.sortable02 li span.sttable02_title_03,
.sortable02 li span.sttable02_title_04,
.sortable02 li div {display: inline-block; height: 28px; line-height: 28px; color: #666666; font-size: 14px;}
.sttable02_title_02 input {border:none !important;} 
.user_utterance_contents h3 a {font-size:12px; background:#2F5597; margin-left:10px; color:#ffffff; padding:2px 5px;}
.user_utterance_contents .layer_box {z-index:1;position: absolute; top: 0px; left: 193px; width: 300px; background: #ffffff; border: 1px solid #5E5E5E; padding: 20px;}
.uu_modify input {color:#7E7E7E; font-weight:bold; width:100%;}/* 20161109 width 추가 */
.sttable02_title_05 {position:absolute; float:right; top:50%; margin-top:-13px;}

.user_says_add {margin:0 45px 0 55px; border:1px solid #c5c5c5; position:relative;}
.user_says_add a.qusrud {width:30px; height:30px; display:inline-block; position:absolute; top:0px; left:0px;}
.user_says_add input {border:none; height:28px; line-height:28px; color:#666666; text-indent:30px; display:inline-block; width:99%;}
.user_says_add a.user_says_bg01 {background: url(../images/user_says_bg01.png) no-repeat center center;}
.user_says_add a.user_says_bg02 {background: url(../images/user_says_bg02.png) no-repeat center center;}

.user_says_add_con {margin:0 45px -1px 55px; border:1px solid #c5c5c5; position:relative;}
.user_says_add_con a.qusrud {width:30px; height:30px; display:inline-block; position:absolute; top:0px; left:0px;}
.user_says_add_con input {border:none; height:28px; line-height:28px; color:#666666; display:inline-block; width:100%;}
.user_says_add_con .depthinput {margin-left:50px;}
.user_says_add_con a.user_says_bg01 {background: url(../images/user_says_bg01.png) no-repeat center center;}
.user_says_add_con a.user_says_bg02 {background: url(../images/user_says_bg02.png) no-repeat center center;}
.user_says_add_con a.user_says_bg01_on {background: url(../images/user_says_bg01_on.png) no-repeat center center;}
.user_says_add_con a.user_says_bg02_on {background: url(../images/user_says_bg02_on.png) no-repeat center center;}
.user_says_add_con a.user_says_bg01_depth {margin-left:20px; background: url(../images/user_says_bg01.png) no-repeat center center;}
.user_says_add_con a.user_says_bg02_depth {margin-left:20px; background: url(../images/user_says_bg02.png) no-repeat center center;}
.user_says_add_con a.user_says_bg01_on_depth {margin-left:20px; background: url(../images/user_says_bg01_on.png) no-repeat center center;}
.user_says_add_con a.user_says_bg02_on_depth {margin-left:20px; background: url(../images/user_says_bg02_on.png) no-repeat center center;}
.user_says_add_con:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:20px; height:30px; display:block; position:absolute; top:0px; right:-20px;}
.user_says_add_con:hover .mapping_btn {background: url(../images/mapping_btn.png) no-repeat center center; width:20px; height:30px; display:block; position:absolute; top:0px; right:-20px;}
.user_says_add_con .modify_btn {background: url(../images/modify_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:10px;}
.user_says_add_con .undo_btn {background: url(../images/restore_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:28px;}
.user_says_add_con .list_btn {background: url(../images/list_img.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:10px;}

.layer_popup_s {border:1px solid #aaa; margin-bottom:10px;}
.layer_box thead th {font-weight:bold; text-indent:5px;}
.layer_box tbody th {font-weight:normal !important; text-indent:15px;}
.layer_popup_s {width:100%; height:200px; overflow-y:scroll;}
.layer_popup_btn {line-height:normal !important; vertical-align:middle; text-align:right !important; padding-right:10px;}
.layer_popup_btn .lp_a {width:14px; height:14px; background:url(../images/add.png) no-repeat center center; display:inline-block;}
.layer_popup_btn .lp_d {width:14px; height:14px; background:url(../images/delete_btn.png) no-repeat center center; display:inline-block; margin-left:5px;}
.layer_box .layer_popup_s tbody .con_lp_bo {width:50% !important;}
.layer_box .layer_popup_btn {width:15% !important;}
.w400 {width:400px !important;}

/* 20161109 추가 */

h3.speech_transaction_icon {background:url(../images/h3_bul01.png) no-repeat left center !important; padding-left:28px !important; height:20px !important; line-height:20px !important;}
h3.property_icon {background:url(../images/h3_bul03.png) no-repeat left center !important; padding-left:28px !important; height:20px !important; line-height:20px !important;}
h3.user_says_icon {background:url(../images/h3_bul02.png) no-repeat left center !important; padding-left:28px !important; height:20px !important; line-height:20px !important;}
h3.slot_icon {background:url(../images/excel.png) no-repeat left center !important; padding-left:28px !important; height:20px !important; line-height:20px !important;}
h3.speech_response_icon  {background:url(../images/h3_bul01.png) no-repeat left center !important; padding-left:28px !important; height:20px !important; line-height:20px !important;}
.sttable02_title_05 .chosen-container-single .chosen-default {color:#999 !important;}
.sttable02_title_05 .layer_box_btn a {color:#fff !important;}
.sttable02_title_05 .layer_box {position:absolute; top:0px; left:0px;}

#simplemodal-overlay {background-color:#000;}

/* 20161110 팝업추가 */
.popup_function {width:521px !important; min-width:500px; height:333px !important; margin:0 !important; padding:35px 25px 15px;}
.popup_function p {font-size:20px; font-weight:bold; margin-bottom:25px;}
.popup_function .s_word {margin:0 !important;}
.popup_function .s_word .solt_search {background:url(../images/btn_slot_search.png) no-repeat center center;}
.popup_function .search_box {height:40px !important; margin-bottom:35px;}
.popup_function .search_box .s_word input {width:88%; !important; color:#989fa9;}
.popup_function .popup_function_text {margin-bottom:25px;}
.popup_function .popup_function_text input {border:1px solid #e2e2e2 !important; line-height:30px; height:30px; margin:0px 10px 0px 0px !important; width:133px; text-indent:15px; color:#989fa9;}
.popup_function .popup_function_text .popup_function_add {background:#2588B9; color:#ffffff; border-radius:3px; padding:7px 9px 8px; vertical-align:middle;}
.popup_function .popup_function_btn {height:25px; line-height:25px; margin-bottom:25px;}
.popup_function .popup_function_btn a {background:#666666; padding:5px 8px; color:#ffffff; border-radius:3px;}
.popup_function .popup_function_result input {width:100% !important; border:1px solid #e2e2e2 !important; height:34px; line-height:34px; text-indent:15px; margin-bottom:35px;}
.popup_function .popup_function_result textarea {width:99% !important; border:1px solid #e2e2e2 !important; height:40px; line-height:20px; margin-bottom:35px;}

.popup_function .function_list {border:1px solid #e2e2e2;}
.popup_function .function_list dt {height:30px; line-height:30px; background:#2F5597; color:#ffffff; font-weight:bold; padding:0px 15px; font-size:16px;}
.popup_function .function_list dd {height:30px; font-size:15px;}
.popup_function .function_list dd a {display:block; padding:8px 15px 7px 15px; color:#585858;}
.popup_function .function_list dd.function_list_bg01 {background:#ffffff; position:relative;}
.popup_function .function_list dd.function_list_bg01 .speech_bubble_cod {display:none;} 
.popup_function .function_list dd.function_list_bg02 {background:#ffe5d7; position:relative;}
.popup_function .function_list dd.function_list_bg02 .speech_bubble_cod {display:none;}
.popup_function .function_list dd.function_list_bg01 .speech_bubble {border-radius: 3px; display: block; font-size: 12px; background-color: #666666; color: #ffffff; padding: 5px 10px; line-height: 16px;}
.popup_function .function_list dd.function_list_bg02 .speech_bubble {border-radius: 3px; display: block; font-size: 12px; background-color: #666666; color: #ffffff; padding: 5px 10px; line-height: 16px;}
.popup_function .function_list dd.function_list_bg01:hover .speech_bubble_cod {position: absolute; bottom: 15px; left: 10px; padding-bottom:9px; background:url(../images/a_ba_bg.png) no-repeat center bottom; z-index: 9999; min-width: 150px; max-width: 200px;display: block;}
.popup_function .function_list dd.function_list_bg02:hover .speech_bubble_cod {position: absolute; bottom: 15px; left: 10px; padding-bottom:9px; background:url(../images/a_ba_bg.png) no-repeat center bottom; z-index: 9999; min-width: 150px; max-width: 200px;display: block;}

/* 20161110 팝업추가 *//* 20161110 팝업추가 *

/* login */
body.login {width:100%; height:100%;}
.a_login {width:100%; height:100%; position:relative; background:#f6f8f9;}
.a_login .login_box {width:100%; height:278px; position:absolute; margin-top:-140px; top:50%; background:#ffffff; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;}
.a_login .login_box .login_con {width:355px; height:234px; margin:0 auto; padding:23px 0px;}
.a_login .login_box .login_con h1 {width:250px; height:100px; background:url(../images/logo.png) no-repeat; text-indent:-99999px; margin:18px auto 0px;}
.a_login .login_box .login_con h2 {font-size:16px; font-weight:bold; color:#434343; display:inline-block; vertical-align:bottom; margin-bottom:7px;}
.a_login .login_box .login_con .login_inp {float:left; width:265px; margin-right:10px;}
.a_login .login_box .login_con .login_inp .lab_login {font-size:12px; font-weight:bold; color:#a1a7a9; display:inline-block; width:56px; height:24px; line-height:24px;}
.a_login .login_box .login_con .login_inp .tf_login {width:263px; height:22px; line-height:22px; border:1px solid #dbdbdb; text-indent:10px; font-size:16px; color:#a1a7a9; margin-bottom:8px;}
.a_login .login_box .login_con .login_btn {width:80px; height:60px; line-height:60px; display:block; color:#ffffff; font-size:16px; background:#2F5597; text-align:center; float:left; font-weight:bold; border-radius:3px;}
/* //login */

#left .logo_foot {width:100%; height:100px; position:absolute; bottom:15px;background: url(../images/logo.png) no-repeat center center;}

.solt_title {position:relative; display:inline-block;}
.solt_title .explain {display:none; z-index:1; position:absolute; top:28px; left:10px; width:450px;}
.solt_title:hover .explain {display:block;}
.solt_title .explain b { height:10px; display:block; width:50px; background:url(../images/explain.png) no-repeat center center;}
.solt_title .explain > span {word-break:break-all; width:100%; background:#414141; z-index:1; color:#ffffff; font-weight:100 !important; padding:3px 5px 5px 5px; line-height:14px; font-size:12px; border-radius:3px; display:inline-block;}

/*20161206 추가*/
.property_table {margin:0px 50px 25px 80px;}
.property_table .knowledge_title tr th,
.property_table .knowledge_title tr td {height: 20px; line-height: 20px; padding: 4px 3px;}
.property_table .knowledge_title {border:1px solid #e1e1e1;}
.property_list .picker-handle {float:left !important;}
.property_list { list-style: none; *zoom: 1; }
.property_list { content: ''; clear: both; display: block; margin:0px 50px 10px 80px;}
.property_list .picker-label img {margin:0px 5px;}
.property_list .picker-label span {vertical-align:super;}
.property_list .picker-flag {top:0px !important;}

/*20161223 추가*/
.sel_sea {margin:20px;}
.sel_sea .s_word {margin:0px !important;}
.sel_sea .chosen-container {border:1px solid #e2e2e2 !important; height:40px; /*margin-right:1%;*/}
.sel_sea .solt_contents .s_word input {width:85% !important;}
.sel_sea a.chosen-single,
.sel_sea .chosen-single span {height:40px !important; line-height:40px !important;}
.sel_sea .chosen-container-single .chosen-single div b {background:url(../images/icon_select_down.png) no-repeat center center !important;}
.chosen-single div b {background:url(../images/icon_select_down.png) no-repeat center center !important;}
.Agent_name_box_word .s_word {margin:0px; !important;}
.Agent_name_box_word {padding-left:30px; margin:0px 45px 0px 45px; background:url(../images/dot_img.png) no-repeat 0 center !important;}
.Agent_name_box .Agent_name_box_word .s_word input {width:77%; !important;}

/*20170526 .useruttrw 기존거 주석 후 수정*/
/* .useruttrw {margin-bottom:15px; position:relative; padding-top:36px;} */
.useruttrw {margin:15px 46px 15px 52px; position:relative; padding:46px 0px 10px 0px; border:1px solid #c5c5c5;}
/*20170526 .useruttrw .useruttrw01 기존거 주석 후 수정*/
/* .useruttrw .useruttrw01 {margin:0px 45px 0px 45px; padding-left:25px; background:url(../images/arr_uuw02.png) no-repeat 0px 7px !important;} */
.useruttrw .useruttrw01 {margin:0px 15px 0px 15px; padding-left:25px; background:url(../images/arr_uuw02.png) no-repeat 0px 7px !important;}
.useruttrw .useruttrw01 input {width:100%; height:28px; line-height:28px; border:1px solid #c5c5c5; text-indent:10px; font-size:14px; margin-bottom:10px;}
/* .useruttrw .useruttrw01 .useruttrw02 {padding-left:25px; background:url(../images/arr_uuw03.png) no-repeat 0px 6px !important;} */
.useruttrw .useruttrw01 .useruttrw02 table td {height:28px;}
.useruttrw .useruttrw01 .useruttrw02 img {cursor:pointer;}
.useruttrwsub {margin-bottom:15px;}
.uuw_tab {margin:0px 45px 0px 70px;}
.useruttrw table {width:100%;}
.useruttrw table tr th { vertical-align: middle; width:110px;}
.useruttrw table tr th div {margin-right:10px; padding: 5px; font-size: 12px; color: #858585; text-align: left; line-height: 16px; vertical-align: middle; background:#fff9f6; border:1px solid #ffd6c0;}
.useruttrw table tr td {color:#858585;}
.useruttrw table tr td > div.slot_modify_set02 {padding:5px !important; margin:1px 2px 3px 1px !important;display: inline-block !important; border: 1px solid #e1e1e1; cursor: text; min-width: 80px; position: relative; padding-right: 28px !important; font-size:12px;}
.useruttrw table tr td > div.slot_modify_set02 div.dp_ib {line-height:14px;}
.style_bu {background:#e2edff !important; border:1px solid #2a91ff !important;}
.style_bu:hover {background:#71b6ff !important;}
.style_bu:hover > div {background:#71b6ff !important;}

/* 20161230 추가 */
#divStart {height:85%;}
.user_says_add_con_inp {line-height:24px; padding:2px 50px 2px 10px; font-size:14px; color:#666666;}
.user_says_add_con_inp span {color:red; font-weight: bold;}
#divSlotLayerCon a {display:block; font-size:14px; color:#666666; line-height:18px; margin-bottom:3px;} 
#divSlotLayerCon a:hover {color:#2F5597;}
.divSlotLayer_c {display:block; width:17px !important; height:17px !important; background:url(../images/layer_cl.png) no-repeat; position:absolute; right:-18px; top:-16px;}
.useruttrw {*zoom: 1;}
.useruttrw:after {content: ''; clear: both; display: block;}
/*20170526 .useruttrw_del 기존거 주석후 추가*/
/* .useruttrw_del {position:absolute; right:45px; top:0px; padding: 0px 7px; background: #eeeeee; color: #999999; border-radius: 3px; font-size: 12px; line-height:26px; height:26px; display:inline-block; } */
.useruttrw_del {position:absolute; right:14px; top:0px; padding: 0px 7px; background: #eeeeee; color: #999999; border-radius: 3px; font-size: 12px; line-height:26px; height:26px; display:inline-block; margin-top:10px; }
.useruttrw_add {margin:0px 98px 10px 45px; position:relative;}
.useruttrw_add a {position:absolute; top:6px; right:-55px; font-size:12px; background: #2F5597; color: #ffffff; padding: 4px 5px;font-weight: bold;}
.useruttrw_s1 {width:100%; height:28px; line-height:28px; border:1px solid #c5c5c5; text-indent:10px; font-size:14px;} 

/* 20160112 추가 */
.agent_in .agent_txt {border:1px solid #ababab; background:#ffffff; font-size:12px; /* text-indent: 10px; */}
.agent_in .agent_txt input {padding:5px; border:none !important;}
.agent_in .agent_txt table tr td {vertical-align: middle;}
.agent_in .agent_txt table tr td div {width: 200px; padding: 5px; border: 1px solid #e1e1e1; min-height:12px;}
.agent_in .agent_save {background: #2F5597; color: #ffffff !important; padding: 3px 5px; margin-left: -1px; float: right; font-size:12px !important;}

.leanbox {margin:15px; padding:10px; min-height:400px; /*max-height:600px;*/ height:98%; overflow:auto; font-size:14px; color:#666666; border:1px solid #e1e1e1; line-height:22px; background:#ffffff;}

.name_right {font-size: 22px; font-weight: bold; color: #2F5597; position: absolute; top: 40px; left: 18px; width:42%;}

/* 20170201추가 */
#contents .admin_user h2 {background:url(../images/ul_but.png) no-repeat 25px center !important;}
.admin_user_con .admin_user_title {margin:30px 45px 0px 45px;}
.admin_user_con .admin_user_title .admin_user_list {width:100%; border:1px solid #c5c5c5;}
.admin_user_con .admin_user_title .admin_user_list th,
.admin_user_con .admin_user_title .admin_user_list td {line-height:30px; height:30px; text-align:left; padding:0px 15px; vertical-align:middle;}
.admin_user_con .admin_user_title .admin_user_list td,
.admin_user_con .admin_user_title .admin_user_list td a {color: #585858;}
.admin_user_con .admin_user_title .admin_user_list td a:hover {text-decoration:underline;}
.admin_user_con .admin_user_title .admin_user_list thead tr {background: #2F5597;color:#ffffff;}
.admin_user_con .admin_user_title .admin_user_list .admin_user_list_bg01 {background: none;}
.admin_user_con .admin_user_title .admin_user_list .admin_user_list_bg02 {background: #ffe5d7;}

.admin_user_list td {position:relative !important;}
.admin_user_list tr:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:15px;}
.admin_user_list tr .delete_btn  {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:0px;}
.admin_user_registration tr {border:1px solid #c5c5c5;}
.admin_user_registration tr th {font-size:16px; color:#585858; font-weight:bold;}
.admin_user_registration tr td {padding:0px !important;}
.admin_user_registration tr td input {border:none; color:#585858; line-height:30px; height:28px; font-size:14px; width:100%; text-indent:10px;}
.language_list tr th {text-align:center !important; vertical-align:middle;}
.language_list tr td {text-align:center !important; vertical-align:middle;}
.language_list tr td input {width:85%;}

.registration_view {vertical-align: middle; font-size: 14px; line-height: 24px; color: #ffffff !important; font-weight: bold; background: #2F5597; text-align: center; padding: 0px; border-radius: 3px; display: inline-block; padding:0px 15px; margin-left:10px;}
.registration_area {padding:0px 0px 0px 0px;}
.registration_area textarea {width:100%; padding:0px; border:none !important; height:200px; overflow-y:scroll; line-height:24px; font-size:12px; color:#585858; text-indent:10px;}
.ck_box span input {padding: 8px 15px 7px 15px; color: #585858;}
.ck_box .picker-handle {float:left !important; margin:3px 10px !important;}
.ck_box .picker-label {height:30px !important; line-height:30px !important;}
.admin_user_con .admin_user_title .chosen-container {margin-bottom:2px;}
/* //20170201추가 */

.id_save_from {float: right; font-size: 14px;  color: #666666;}
.id_save_from label {vertical-align: text-top;}

.logout {position:absolute; top:10px; right:15px;}
.logout a { color:#666666; font-size:12px; font-weight: bold;}
.logout a:hover {text-decoration: underline;}
.orange02 {background: #2588B9 !important; color:#ffffff;}

/* 20170412 추가(레이어팝업) */
.layer {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:1000;}
.layer .bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:.5; filter:alpha(opacity=50);}
.layer .pop-layer {display:block;}

.pop-layer {display:none; position: absolute; top: 50%; left: 50%; width: 410px; height:auto;  background-color:#fff; border: 5px solid #3571B5; z-index: 10;}	
.pop-layer .pop-container {padding: 20px 25px;}
.pop-layer p.ctxt {color: #666; line-height: 25px;}
.pop-layer .btn-r {width: 100%; margin:10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; text-align:right;}

a.cbtn {display:inline-block; height:25px; padding:0 14px 0; border:1px solid #304a8a; background-color:#3f5a9d; font-size:13px; color:#fff; line-height:25px;}	
a.cbtn:hover {border: 1px solid #091940; background-color:#1f326a; color:#fff;}
/* 20170412 추가(레이어팝업) */


/* 20170721_체크박스 */
.box_he .picker-handle {float:left !important; margin-right:10px !important;}
.agent_cbox {margin-left:45px !important;}
.agent_cbox .picker-handle {float:left !important; margin:0px 10px 0px 0px !important;}
.aw_btn {background: #2F5597; width:100px; display:block; color:#ffffff; font-size:12px; height: 30px; line-height: 30px; text-align: center; border-radius: 3px; margin:0px 10px;}


/* 20170802_체크박스 */
.wtastas {margin: 0px 46px 15px 52px; position: relative; padding: 0px 15px 0px 15px; border: /* 1px solid #c5c5c5 */;}
.wtastas table {width:100%;}
.wtastas_cutn { margin:15px 0px 15px; display:inline-block; width:100%;}
.wtastas_cutn h3 {font-size: 16px; color: #666666; background: url(../images/blt.png) no-repeat 0px center; padding-left: 10px; font-weight: bold; float:left; margin:0px !important;}
/*.wtastas_cutn .wta_del {display:none;}
.wtastas_cutn .wta_mod {display:none;}*/
.wtastas_add table tr td > div.slot_modify_set02 {padding:4px 4px 2px 4px !important; display: inline-block !important; border: 1px solid #e1e1e1; cursor: text; width: 80px; position: relative; padding-right: 28px !important; font-size:12px;}
.wtastas_add table tr td > div.slot_modify_set02 div.dp_ib {line-height:22px;}
.wtastas_add table tr td > div.slot_modify_set02 .close_btn {display:inline-block; width:14px; height:14px; background: url(../images/close_btn.png) no-repeat center center; margin:3px 3px 0px 7px; /*vertical-align:sub;*/ cursor:pointer; position: absolute; top: 50%; margin-top: -7px; right: 5px;}
.wtastas_add table tr td > div.slot_modify_set02:hover .close_btn {background: url(../images/close_btn02.png) no-repeat center center;}
.wtastas_cutn .wta_del {width:14px; height:14px; background:url(../images/delete_btn.png) no-repeat center center; display:inline-block; float:right; margin-left:10px; display:block;}
.wtastas_cutn .wta_mod {width:14px; height:14px; background:url(../images/modify_btn.png) no-repeat center center; display:inline-block; float:right; display:block;}
.wtastas .wtastas_txt01 {width: 100%; height: 28px; line-height: 28px; border: 1px solid #c5c5c5; text-indent: 10px; font-size: 14px; margin-bottom: 15px;}
.wtastas .wtastas_btn {background: #2F5597; width: 100px; display: block; color: #ffffff; font-size: 12px; height: 30px; line-height: 32px; text-align: center; border-radius: 3px; margin: 0px 0px 0px 10px;}
.wtastas02 .wtastas_arr { background:url(../images/wtastas_arr.png) no-repeat center center; display:inline-block; width:31px; height:31px; display:table-cell; margin-right:10px;}
.wtastas_add_01 {margin:0px 46px 10px 52px}
.wtastas_add_01 table {width:100%;}
.wtastas_add_01 .wtastas_txt05 {width: 100%; height: 28px; line-height: 28px; border: 1px solid #c5c5c5; text-indent: 10px; font-size: 14px;}
.wtastas_text_div { width: 100%; line-height: 28px; border: 1px solid #c5c5c5; text-indent: 10px;font-size: 14px; margin-bottom:8px;}
.btn_hover .wta_tb_del {display:none;}
.btn_hover .wta_tb_mod {display:none;}
.btn_hover:hover .wta_tb_del {width:14px; height:14px; background:url(../images/delete_btn.png) no-repeat center center; display:inline-block; float:right; display:block; margin-left:10px; margin-right:60px}
.btn_hover:hover .wta_tb_mod  {width:14px; height:14px; background:url(../images/modify_btn.png) no-repeat center center; display:inline-block; float:right; display:block;}

/* 20170807_신규 LUA */
.Clear_search_box {border-bottom:none !important;}
.Clear_search {border:1px solid #e2e2e2; line-height:40px; height:40px; width:80%; font-size:13px; padding:0px 0px 0px 15px; font-weight:bold; color:#989fa9;}
.Clear_search_btn {background: #2588B9; color: #ffffff; border-radius: 3px; padding: 7px 9px 8px; vertical-align: middle; margin-left:10px;}
.popup_function .tran { *zoom: 1; }
.popup_function .tran:after { content: ''; clear: both; display: block; }
.popup_function .tran_l {margin:20px 15px 20px 0px;}
.popup_function .tran_r {margin:20px 0px 20px 15px; padding-left:15px; border-left:1px solid #e4e4e4;}
.orange_btn {display: inline-block; width: 72px; height: 30px; line-height: 30px; border-radius: 3px; color: #fff; font-weight: bold; font-size: 14px; margin: 0 3px; text-align: center; background-color: #2588B9;}
.tran_title { *zoom: 1; }
.tran_title:after { content: ''; clear: both; display: block; }
.tran_title p {float:left; height:30px; line-height:30px;}
.tran_title a {float:left; margin-left:15px;}
.Intent_btn {text-align: center;}
.Intent_btn .tran_user{ display: inline-block; width: 72px; height: 30px; line-height: 30px; border-radius: 3px; color: #fff; font-weight: bold; font-size: 14px; margin: 0 3px; text-align: center; background-color: #393939;}
.Intent_btn .tran_system{ display: inline-block; width: 72px; height: 30px; line-height: 30px; border-radius: 3px; color: #fff; font-weight: bold; font-size: 14px; margin: 0 3px; text-align: center; background-color: #bdbdbd;}
.tran_user_da {border:1px dotted #D0D0D0; margin-top:10px; text-align:center; padding:15px 0px 10px 0px;}
.center_btn {text-align:center; margin-top:10px;}
.center_btn a {display:inline-block;}
.pn_li {line-height:30px;}
.pn_li a {font-size:14px; color:#333333; line-height:30px; height:30px; display:inline-block;font-weight: bold;}
#spSlotTitle {font-size:14px; color:#333333; line-height:30px; height:30px; display:inline-block;font-weight: bold;}
.funct_txt_obx_style {border: 1px solid #999999 !important; color: #666666 !important;}

.t_title_buu {display:block; height:22px; width:40px; line-height:22px; float:left; margin-left:15px; padding-left:10px; margin-right:15px;}
.t_title_but { background:url(../images/bul.png) no-repeat center left; background-size:3px;}
.layer_box_btn_color {background:#bdbdbd !important;}
.popupck_d1 .picker-handle {float:left !important; margin-right:10px !important;} 

/* 챗봇 */
.chatbot_top {position:relative; height:100px; border-bottom:1px solid #e1e1e1;}
.chatbot_top .chatbot_h1 {width:100px; height:100px; display:inline-block; left:-50px; margin-left:50%; position:absolute;}
.chatbot_top h1 {font-size: 24px; font-weight: bold; height: 100px !important; line-height: 100px; color: #555555; position: relative; text-align:center;}
.chatbot_t_btn {float:right;}
.chatbot_t_btn a {vertical-align: middle; font-size: 14px; line-height: 40px; color: #ffffff; font-weight: bold; background: #2F5597; text-align: center; padding: 0px 15px; border-radius: 3px; display: inline-block; float: right; margin: 30px 15px 0px 0px;}
.chatbot_con {border:1px solid #e1e1e1; margin-top:20px; margin-bottom:45px; height:500px; width:700px; position:relative; left:-350px; margin-left:50%;}
.chatbot_con .chatbot_con01 {width:100%; height:440px; overflow-y:auto;}
.chatbot_con .chatbot_con01 p {margin:25px 15px; font-size:18px; word-break:break-all;}
.chatbot_con .chatbot_con01 p.chatbot_talk01 {color:#666666;}
.chatbot_con .chatbot_con01 p.chatbot_talk02 {color:#2F5597;}
.chatbot_con .chatbot_con01 p.chatbot_talk02 a {margin:0px 5px;}
.chatbot_con .chatbot_con02 {width:100%; height:60px; border-top:1px #e1e1e1 solid;}
.chatbot_bottom {width:100%; height:300px; border-bottom:1px solid #e1e1e1;}
.Clear_search_chatbot_con {border: 1px solid #e2e2e2; line-height: 18px; height: 18px; width: 80%; font-size: 13px; padding: 0px 0px 0px 15px; font-weight: bold; color: #989fa9;margin-top:5px;}
.Clear_search_btn_p {background: #2588B9; color: #ffffff; border-radius: 3px; font-size: 13px; padding: 2px 9px 3px; vertical-align: middle; margin:0px 5px;}
.Clear_search {border: 1px solid #e2e2e2; line-height: 40px; height: 40px; width: 80%; font-size: 13px; padding: 0px 0px 0px 15px; font-weight: bold; color: #989fa9;}
.Clear_search_btn { background: #2588B9; color: #ffffff; border-radius: 3px; padding: 7px 9px 8px; vertical-align: middle; margin-left: 10px;}
.chatbot_popup {border:1px solid #e1e1e1; overflow-y:auto; width:100%; height:270px;}
.chatbot_text {border-bottom:1px solid #e1e1e1; margin:15px;}
.chatbot_text p {font-size:16px; color:#666666; margin-bottom:10px !important; word-break:break-all; font-weight:normal;}
.chatbot_text p .delete_btn {background:none; center center; width:14px; height:20px; display:block; float:right;}
.chatbot_text p:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:20px; display:block; float:right;}
.chatbot_lean_edit div {text-align:left; padding:10px 0px 5px 0px;}
.chatbot_lean_edit div input {height:20px; line-height:20px; width:370px; display:inline-block;}
.chatbot_lean_edit div a {background:#666666; padding:3px 9px 4px !important; height:22px; line-height:22px; margin-left:0px !important;}
/* 챗봇 */


.sbwr > div > a {height:20px !important; line-height:20px !important;}

/* 20171113 체크바스 추가 */
.min_max_box .picker-handle {display:inline-block !important;}
.min_max_box .picker-checkbox {vertical-align:sub !important; margin-right:15px;}


.list_check.picker.picker-checkbox.checked .picker-flag {background:url(../images/check01_on_tutor.png) no-repeat center !important;}

/* .ordering_food_ck {display:block !important; float:left; margin-left:10px;}
.ordering_food_list {display:block !important; margin:0px 70px 0px 50px;}
.ordering_food_list .ordering_food_list02 {float:right !important;}
li.ui-state-default:hover .of_view_btn {background: url(../images/king_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:50px;}
li.ui-state-default .of_view_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:50px;} */
.ordering_food_ck {display:block !important; float:left; margin-left:10px;}
.ordering_food_list {display:block !important; margin:0px 70px 0px 50px;}
.ordering_food_list .ordering_food_list02 {float:right !important;}
li.ui-state-default:hover .delete_btn {background: url(../images/delete_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:15px !important;}
li.ui-state-default .delete_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:15px !important;}
li.ui-state-default:hover .of_view_btn {background: url(../images/king_btn.png) no-repeat center center; width:14px; height:30px; display:block; position:absolute; top:0px; right:40px;}
li.ui-state-default .of_view_btn {background:none; center center; width:14px; height:20px; display:block; position:absolute; top:0px; right:50px;}
.ordering_food_02 .chatbot_popup {border:1px solid #e1e1e1; overflow-y:auto; width:100%; height:250px;}
.ordering_food_02 .chatbot_text {border-bottom:1px solid #e1e1e1; margin:15px;}
.ordering_food_02 .chatbot_text p {font-size:14px; color:#666666; margin-bottom:10px !important; word-break:break-all; font-weight:normal;}
.ordering_food_02 .chatbot_text p a {float:right;}

.ordering_food_02 {min-width:500px; height:370px !important; border:1px solid #e1e1e1 !important; margin:40px 45px 0px 55px; !important; padding:15px 13px; overflow-y:auto;}
.ordering_food_02 p {font-size:20px; font-weight:bold; margin-bottom:25px;}
.ordering_food_02 .s_word {margin:0 !important;}
.ordering_food_02 .s_word .solt_search {background:url(../images/btn_slot_search.png) no-repeat center center;}
.ordering_food_02 .search_box {height:40px !important; margin-bottom:35px;}
.ordering_food_02 .search_box .s_word input {width:88%; !important; color:#989fa9;}
.ordering_food_02 .popup_function_text {margin-bottom:25px;}
.ordering_food_02 .popup_function_text input {border:1px solid #e2e2e2 !important; line-height:30px; height:30px; margin:0px 10px 0px 0px !important; width:133px; text-indent:15px; color:#989fa9;}
.ordering_food_02 .popup_function_text .popup_function_add {background:#ff772e; color:#ffffff; border-radius:3px; padding:7px 9px 8px; vertical-align:middle;}
.ordering_food_02 .popup_function_btn {height:25px; line-height:25px; margin-bottom:25px;}
.ordering_food_02 .popup_function_btn a {background:#666666; padding:5px 8px; color:#ffffff; border-radius:3px;}
.ordering_food_02 .popup_function_result input {width:100% !important; border:1px solid #e2e2e2 !important; height:34px; line-height:34px; color:#989fa9; text-indent:15px; margin-bottom:50px;}

.ordering_food_02 .function_list {border:1px solid #e2e2e2;}
.ordering_food_02 .function_list dt {height:30px; line-height:30px; background:#ea5404; color:#ffffff; font-weight:bold; padding:0px 15px; font-size:16px;}
.ordering_food_02 .function_list dd {height:30px; font-size:15px;}
.ordering_food_02 .function_list dd a {display:block; padding:8px 15px 7px 15px; color:#585858;}
.ordering_food_02 .function_list dd.function_list_bg01 {background:#ffffff;}
.ordering_food_02 .function_list dd.function_list_bg02 {background:#ffe5d7;}
.ordering_food_02 .t_title_buu {display:block; height:25px; width:19.5%; line-height:25px; float:left !important; padding:0px !important; font-size:14px; background:#FFA600; color:#ffffff; text-align:center; margin:0px !important;}
.ordering_food_02 .xml_ordering_food {height:200px; overflow-y:auto; border:1px solid #e2e2e2;}
.ordering_food_02 .chosen-container {border:1px solid #e2e2e2 !important;}
.ordering_food_02 .chosen-container .chosen-drop {  border: 1px solid #e2e2e2 !important;  border-top: 0 !important;}
.ordering_food_02 .chosen-container-single .chosen-single div b {background:url(../images/icon_select_down.png) no-repeat center center !important;}
.ordering_food_02 .chosen-container.chosen-with-drop > a b { background: url(../images/icon_select_up.png) no-repeat center center !important; }
.slot_icon a {float:right; display:inline-block; width:72px; height:30px; line-height:30px; border-radius:3px; color:#fff; font-weight:bold; font-size:14px !important; margin:0 3px; text-align:center; background:#2F5597; padding:0px !important;}
.ordering_food_li > li {background:#ffffff !important; margin: 0px 45px -1px 55px; position:relative;}
.ordering_food_li li.of_on {background:url(../images/right_arr.png) no-repeat 4px center #ffffff !important;}
.ordering_food_li li.of_off {background:#ffffff !important;}
.of_box_txt {background:  #ffffff !important; overflow-y:auto !important; height:350px !important; padding:10px !important; width:auto !important; color:#444444 !important; font-size:12px !important; line-height:18px !important;}
.ordering_food_li .sortable02_title li .sortable02_title_01, .sttable02_title_01 {width:50px !important; display: inline-block; text-align:center;}